[2018-08-22 23:59] morgante opened #11 "Remove gsuite requirement from project factory"
Currently, the G Suite functionality causes a lot of pain and complexity in set up. We should make it a totally optional component (meaning you can use the project factory without ever installing the G Suite provider).

New architecture:
- outer wrapper module references inner module
- gsuite add on handles group creation and service account group management, passes through to inner module
- inner

[2018-08-23 21:33] morgante opened #13 "Wiping out members"
This line should be non-authoritative: https://github.com/terraform-google-modules/terraform-google-project-factory/commit/e16b55402d6070133fdb6c1d6e519f2e2236f853#diff-7a370d8342e7203b805911c92454f0f4R187

[2018-09-04 18:09] morgante commented on #13
Fixed in #16.

[2018-09-04 18:09] #13 closed

[2018-09-06 19:05] morgante opened #18 "Fails without shared VPC being specified"
If you try to use the Project Factory without a Shared VPC, it fails with this error:

[code]

[2018-09-06 19:36] morgante commented on #18
Keeping open to add a test which handles this.

[2018-09-07 20:20] ocervell opened #20 "Organization viewer should not be needed"
We should be able to create a project without having roles/organization.viewer.

Currently the org_id is used in 2 places:

- [x] `google_project` resource (not needed unless the project is straight under the org)
- [x] `google_organization` (this resource is used to get the org domain in order to construct the default service account email string. This can be optional by letting the user pass 'do

[2018-09-14 19:06] AdrienWalkowiak opened #23 "appengine.googleapis.com not needed"
In the main Readme file, it states that  Google App Engine Admin API - appengine.googleapis.com is required. I was able to run the module successfully without it, and I don't know why it would be required in the first place.

Maybe just update the Readme file?

My input:

module "project-factory" {
  source            = "github.com/terraform-google-modules/terraform-google-project-factory"
  rando

[2018-09-14 19:40] ocervell commented on #23
Enabling the API `appengine.googleapis.com` is required when using the `app_engine` as argument to the module. It is indeed not required for simpler use cases.

I'm still wondering why it has to be enabled on the TF service account side as well as on the destination project, @morgante can maybe answer that one.

[2018-09-14 20:12] morgante commented on #23
@ocervell Calls to APIs require that the API be active on the project your credentials come from.

[2018-09-17 16:47] adrienthebo opened #25 "`helpers/setup-sa.sh` doesn't fail safely when variables are unset"
When the service account helper script is invoked in some environments (such as the WSL), variables like `$RANDOM` may not be set. The script doesn't catch errors before setting up credentials and can fail in an unexpected way. We should be prefer to fail early rather than running bad commands.

[2018-09-17 17:17] adrienthebo opened #27 "Terraform state deadlock with a limited host project"
## Summary

The project-factory can use a service account with a misconfigured host project, which leads to a deadlocked Terraform configuration with confusing errors.

## Description

The project factory requires that the host project associated with an instantiating service account has certain APIs enabled, but the project factory does not verify that these APIs are enabled before generating a n

[2018-09-17 20:56] alexgorbachev opened #28 "`googleapi: Error 400: Precondition check failed., failedPrecondition` on project creation (setting billing info)."
When using project factory to create the projects (during today's training - was online), I couldn't get the project created...

My billing account definitely exists and is correct in the shape 'XXXXXX-XXXXXX-XXXXXX'.

The error I get:
[code]

When I try to reproduce with `TF_LOG=trace`, I get this respose for the request to `/v1/projects/alexg-proj-factory-d50d/billingInfo`:
[code]

[2018-09-17 21:31] alexgorbachev commented on #28
OK. So I have troubleshooted it and it was due to hitting the limit of the # of projects on that billing account. I found that by trying to link the project to the billing account using `gcloud`.

[code]

[2018-09-18 20:08] reechar-goog opened #29 "detach shared vpc service project from host shared vpc prior to deletion"
https://cloud.google.com/vpc/docs/deprovisioning-shared-vpc#deleting_shared_vpc_service_project

When deleting a GCP project that is a service project associated with a Host Shared VPC project, terraform should attempt to remove the association before deleting the project.

[2018-09-19 15:58] morgante commented on #28
There's an upstream error around this: https://github.com/terraform-providers/terraform-provider-google/issues/1892

[2018-09-25 15:03] ocervell opened #33 "Remove `credentials_path` from module req"
`credentials_path` variable is cumbersome to pass when automating things with CICD.

E.g with Jenkins we still need to:
* upload the service account key file
* store it in some place that's doesn't get destroyed (so no in the build workspace)
* refer to the service account keyfile path in our `terraform.tfvars`, which might be seen by many users

In most cases we could use Application Default Cred

[2018-09-25 15:04] #20 closed

[2018-09-26 22:39] morgante commented on #28
Closing this since it's an upstream issue.

[2018-09-26 22:39] #28 closed

[2018-10-04 18:34] Jberlinsky commented on #29
@reechar-goog It looks to me like this is a non-issue -- although I'm curious if you have a sample case that reproduces a specific issue?

When a `terraform destroy` is run in this repository, among other things, the following will execute in order (as enforced by `depends_on` statements:

1. The `google_compute_shared_vpc_service_project` resource will be deleted, invoking [https://github.com/ter

[2018-10-05 23:46] harpenden commented on #18
We receive the same error if we don't create host project(Shared VPC) before the service projects. Can we use the same workaround to the following errors?

[code]

[2018-10-08 15:39] morgante commented on #18
@harpenden Could you share your Terraform configuration?

[2018-10-08 17:28] harpenden commented on #18
@morgante in order to create service_project01 I have to create host project first(separately) otherwise I receive  ... value of 'count' cannot be computed error.

**main.tf**
[code]

networks.tf (Uses google networking module)
[code]

[2018-10-08 22:08] adrienthebo commented on #18
@harpenden I suspect that you're seeing issues bringing up `service_project01` because that module does not use any variables from the `host-project01-network` module. Because Terraform infers dependencies based on variables and outputs, my guess is that Terraform doesn't detect any relationships between those modules and is trying to create the service project and the host project network at the

[2018-10-08 22:09] adrienthebo commented on #18
Regarding the original issue where the project-factory will generate an error when `shared_vpc` is unset, I've created https://github.com/terraform-google-modules/terraform-google-project-factory/pull/46 to test for this test case.

[2018-10-09 10:57] harpenden commented on #18
thanks @adrienthebo, what I noticed, if I completely remove networking module and specify `shared_vpc        = "${module.host_project01.project_id}"` in a service project(service_project01) I receive exactly the same error. If I don't specify shared_vpc in the module it works.
[code]

[2018-10-09 13:38] morgante commented on #18
@harpenden Do you mind creating a standalone issue to track that? Definitely looks like a bug.

[2018-10-09 17:44] harpenden opened #47 "Fails with shared VPC being specified using a reference"
If I specify shared_vpc in a service project I receive following error during plan or apply. If I remove shared_vpc it works but creates a standalone project instead of a service project.

[code]

**Example resources:**
[code]

[2018-10-09 17:45] harpenden commented on #18
@morgante created issue https://github.com/terraform-google-modules/terraform-google-project-factory/issues/47 thanks.

[2018-10-31 14:50] crayfishx commented on #47
It seems to me this issue occurs when passing in a variable that references a computed variable in `host_project01`.  The `project_id` output variable traces back to the `temp_project_id` local var in the module which evaluates the value of `random_id.random_project_id_suffix.hex` - Terraform plan seems to fail when you try and pass the results of an output variable that derrives from a computed v

[2018-11-05 20:58] morgante opened #59 "Test credentials path expansion"
The tests currently only work if your SA key has an absolute path.

Context: https://github.com/terraform-google-modules/terraform-google-project-factory/pull/34/commits/50a7b7b5c672c7cd0cf6bd2c91d39771a6059af7

[2018-11-05 21:00] morgante opened #60 "In tests, mandatory variables are commented out"
https://github.com/terraform-google-modules/terraform-google-project-factory/pull/34#discussion_r230904829

[2018-11-05 23:35] morgante opened #61 "Outstanding issues with tests"
After #34, a few issues remain.

- [ ] deduplicate `terraform.tfvars` file between full and minimal fixtures  (https://github.com/terraform-google-modules/terraform-google-project-factory/pull/34#discussion_r230902667)
- [ ] Test failures for gsuite group email
- [ ] Test failures for gsuite membership on `roles/iam.serviceAccountUser`
- [ ] Document optional test coverage: project-factory-shared-

[2018-11-09 22:56] LusciousPear opened #65 "Incorrect state with API Activations"
We were ironing out some permission issues so needed to re-run a TF pipeline a few times. It appears possible to create a project, fail to activate the right APIs, and then cause other parts of the pipeline to fail.  (Note: the module name is our internal fork of project factory with no changes).

To reproduce, try to create a new project using a Service Account lacking this permission:

``` modul

[2018-11-12 21:31] morgante commented on #65
Do you know what permission you were missing?

This unfortunately is a hard issue to resolve due to how Terraform works, but https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/docs/TROUBLESHOOTING.md#unable-to-query-status-of-default-gce-service-account should address that.

@adrienthebo One though, could we also see if running `terraform plan -refresh=false`

[2018-11-12 22:31] adrienthebo commented on #65
A quick inspection of the error message indicates that the service account may have not had the `resourcemanager.organizations.get` permission, typically granted through `roles/resourcemanager.organizationViewer`. I believe that https://github.com/terraform-google-modules/terraform-google-project-factory/pull/21 allows users to bypass that requirement by directly providing the organization ID - wh

[2018-11-13 00:02] LusciousPear commented on #65
Thank you for your quick replies. Yes, we set the org_id variable. Also, we do have `roles/resourcemanager.organizationViewer` explicitly enabled on the Service Account which has the creds Project Factory uses to create these projects.

[2018-11-16 00:04] #23 closed

[2018-12-04 02:57] mrjfox opened #75 "Error updating secondary IP ranges in Google_compute_subnetwork"
So i would like to replace an existing secondary ip range but this fails to work.

Terraform change
[code]

Error produced
[code]

As this error is from the Google Api, can you please change the way terraform applies this change by deleting first and then adding the change.

[2018-12-04 02:59] mrjfox commented on #75
Wrong repo, Opps.

[2018-12-04 02:59] #75 closed

[2018-12-11 19:30] #18 closed

[2018-12-11 23:01] #61 closed

[2018-12-12 18:38] aaron-lane opened #76 "Plugins installed in Docker image not detected by Terraform"
Running `make docker_create` after `make docker_build_terraform` and `make docker_build_kitchen_terraform` results in the following error:

       Initializing provider plugins...
       - Checking for available provider plugins on https://releases.hashicorp.com...

       Provider "gsuite" not available for installation.

       A provider named "gsuite" could not be found in the official reposit

[2018-12-12 19:08] parmarsumit opened #78 "module initialization issue"
Initializing modules...
- module.project-factory
  Found version 0.2.1 of terraform-google-modules/project-factory/google on registry.terraform.io
  Getting source "terraform-google-modules/project-factory/google"

Initializing provider plugins...
- Checking for available provider plugins on https://releases.hashicorp.com...

Provider "gsuite" not available for installation.

A provider named "gsu

[2018-12-12 20:16] aaron-lane commented on #78
Hi @parmarsumit. Thank you for your interest in the project!

I apologize for the trouble. This should be fixed by #77.

[2018-12-12 22:20] fergyCR commented on #78
Thank you! I was having the same issue.

[2018-12-13 15:04] aaron-lane commented on #78
#77 was merged.

[2018-12-13 15:04] #78 closed

[2018-12-13 17:14] mikeraimondi opened #80 "Fails with org_id interpolated to reference a resource or data source"
Tested on v0.2.1 and [master](https://github.com/terraform-google-modules/terraform-google-project-factory/tree/5eca7ea5a4280c6fbf70b03dca9e75b3e068a5b5)

Possibly related to #47; we find that passing an interpolated value to `org_id` that references a data source or resource fails with this error during `refresh`:

[code]

Our use case: we store shared state, like the organization and folders, in

[2018-12-13 18:48] mikeraimondi opened #81 "Deprecation warning for "app_engine""
Using v0.21 of this module and v1.19.1 of `terraform-provider-google`, we see the following warning:

`Warning: module.priv-env.module.vault-project.google_project.project: "app_engine": [DEPRECATED] Use the google_app_engine_application resource instead.`

[2018-12-13 21:03] aaron-lane opened #82 "Docker container does not use bundled gems when running Kitchen-Terraform"
The Kitchen-Terraform Dockerfile
[installs the gem bundle under `/opt/kitchen`](https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/build/docker/kitchen_terraform/Dockerfile#L53-L56), which is [different from the WORKDIR](https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/build/docker/kitchen_terraform/Dockerfile#L60).

Add

[2018-12-13 21:12] aaron-lane opened #84 "gcloud Alpha commands component is not installed in Kitchen-Terraform Docker image"
With the merge of #64, the gcloud Alpha commands component must be installed in order to test for the existence of liens. The lien tests in the `project-factory` and `minimal` controls are currently failing due to the missing component.

[2018-12-13 21:59] #82 closed

[2018-12-13 22:15] #84 closed

[2018-12-21 21:57] morgante opened #88 "Required test variables have empty defaults"
Several of the tests have variables with blank defaults when they are actually required (and tests fail to run if they're not provided). For example: https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/test/fixtures/full/variables.tf#L55

In general, blank defaults are an anti-pattern which we should strongly avoid. It's against our standards. Please check thro

[2019-01-02 19:48] adrienthebo commented on #27
Resolved in https://github.com/terraform-google-modules/terraform-google-project-factory/commit/4019f60421b052d262608e33b02e39334b29b2d3.

[2019-01-02 19:48] #27 closed

[2019-01-10 15:47] morgante opened #97 "Shared VPC granting is broken"
In #72, we messed up the logic for granting networkUser permission.

There are meant to be 3 different conditions.

1. No `shared_vpc` and no subnets => no grants
2. `shared_vpc` and no subnets => grant to the project (all networks/subnets)
3. `shared_vpc` and subnets => grant to the subnets (and not to the project)

[2019-01-10 22:48] angstwad opened #102 "Precondition step fails if no org_id supplied"
[code]

[2019-01-10 22:50] angstwad commented on #102
`org_id` as an argument was supplied with a value of an empty string, which was eval'ed as `None`

[2019-01-10 23:23] morgante commented on #102
I believe we're moving to making `org_id` a required variable.

[2019-01-11 23:43] morgante opened #105 "Fix tests"
The CI tests merged still have outstanding issues:

- group_email is invalid: https://concourse.infra.cft.tips/teams/cft/pipelines/terraform-google-project-factory/jobs/integration-tests/builds/137#L5c267bbe:392

[2019-01-15 20:46] morgante opened #111 "Expand testing to cover G Suite functionality"
The tests currently don't make it easy to test G Suite-related functionality in the module.

We should add fixtures to consistently exercise the create_group and API/SA group functionalities.

[2019-01-16 21:54] morgante opened #116 "Double converge necessary for tests to pass"
The second converge is necessary for app engine settings to converge.

[2019-01-17 22:26] morgante opened #121 "Fix linting errors"

[2019-01-17 23:52] fergfamster opened #122 "Multiple Projects from same code but different tfstate files"
Hello -

Curious about best practice for deploying multiple projects and keeping tfstate files unique to each. Would you manage those with workspaces or using modules or?

Thanks

[2019-01-18 00:03] morgante commented on #122
It depends on what you mean by same code.

Our recommended setup  for a simple org is something like this:
[code]

[2019-01-18 20:59] aaron-lane commented on #80
Hi @mikeraimondi.

I apologize for the delay in responding. v1.0.0 was released recently. Are you able to test the upgraded version to see if your problem is addressed?

[2019-01-21 14:06] amardomingo opened #124 "What happened with the disable_services_on_destroy variable?"
The variable disable_services_on_destroy use to be added to the core module call in the /main.tf file. However, at some point it seems it was removed (commit 373875477871aa52a65079223174e5e16eec1779 )

Is this intended? If so, it is possible to regain that funcionality somehow?

[2019-01-21 18:35] aaron-lane commented on #124
Hi @amardomingo.

Thank you for catching this issue. It is not intended and will be rectified.

[2019-01-21 18:51] amardomingo commented on #124
Great! Thank you :-)

[2019-01-21 20:01] aaron-lane commented on #121
#126
#127
#128

[2019-01-22 16:43] #124 closed

[2019-01-23 19:46] tbh1 opened #132 "Allow updating project name without recreating project"
Currently, any changes to the project name updates the project ID, requiring a full recreation of the project. This is causing us significant trouble as we roll out new governance and standards changes across the organization. In local testing, adding `ignore_changes = ["project_id"]` to the google_project's lifecycle fixes this.

I'm happy to submit a PR if this is an acceptable direction.

[2019-01-25 16:37] bmenasha opened #135 "Provide ability to delete default VPC gateway route on project creation"
Similar to how we have functionality to delete the default GCE service account, can we add an option to delete default VPC gateway route on the project VPC?

The customer is asking for this feature as they wish to intercept all egress traffic with a security device. They will create their own route for this interception and routing of traffic from the security device to the gateway.

Thanks!

[2019-01-25 16:40] morgante commented on #135
The project factory deletes the default network, so I'm not sure which route this is referring to?

When creating a custom network, does this route still get created?

[2019-01-25 17:12] bmenasha commented on #135
thanks for the quick reply Morgante. yes it does when creating a custom network.  perhaps that's where this feature should exist (https://github.com/terraform-google-modules/terraform-google-network) .   So one can delete the vpc after project creation (which is default behavior of the project factory), then add ability to delete default internet gateway route to  https://github.com/terraform-goog

[2019-01-25 17:17] morgante commented on #135
Thanks, closing this so you can open an issue there.

[2019-01-25 17:17] #135 closed

[2019-01-28 15:21] ibenrodriguez opened #136 "broken link in readme for test_preconditions.py"
The link contained in the "Verifying Setup" section of the readme.md file is wrong.  https://github.com/terraform-google-modules/terraform-google-project-factory#verifying-setup

A preconditions checker script is included to verify that all preconditions are met before the Project Factory runs. The script will run automatically if the script dependencies (Python, "google-auth", and "google-api-pyt

[2019-01-28 18:47] nstogner commented on #81
Looking to fix with:

https://github.com/terraform-google-modules/terraform-google-project-factory/pull/134

[2019-01-28 21:46] morgante commented on #136
Thanks for the catch, looking forward to PR.

[2019-01-29 16:42] adrienthebo commented on #136
Noting for posterity that the preconditions script is located at `modules/core_project_factory/scripts/preconditions/preconditions.py` as of 7112228.

[2019-01-30 21:18] ensslen opened #137 "Document dependencies in installation"
This module expects to be run on an OS that has been configured for a google cloud developer.  If you follow the installation instructions on a fresh, minimal linux install you will encounter unsatisfied dependencies.  I have had to add these to my build server:
1. gcloud
2. jq
These ought to be mentioned as requirements

[2019-01-30 23:25] ensslen opened #138 "Allow import of GCP projects"
[GCP project names can not be reused](https://cloud.google.com/resource-manager/docs/creating-managing-projects#identifying_projects), attempting to do so results in a 409 error.  However, this module won't accept an imported project, e.g. `terraform import module.X.google_project.main my-project`, because `id` and `project_id` can not be supplied as inputs. The imported project results in

[2019-02-06 16:56] mikeraimondi commented on #80
Yes, this issue appears to be resolved in 1.0.0. Thanks!

[2019-02-06 16:56] #80 closed

[2019-02-07 19:20] #136 closed

[2019-02-10 17:38] carlodicelico commented on #65
FWIW, and not entirely sure whether or not this is helpful info, but I have seen this issue too. For now, I had to comment out the `null_resource` that removes default service accounts. I just remove the SAs manually.

[2019-02-12 00:53] morgante commented on #65
Do you think you could share the full IAM roles info on one of the projects where you saw this issue? (Feel free to send privately: morgantep@google.com)

[2019-02-19 02:28] lawliet89 commented on #81
In the mean time, if you don't use appengine, you can just apply this [commit](https://github.com/basisai/terraform-google-project-factory/commit/616735e19ded0098ae62c1384143e4e7cff4bbed) to your copy or the module or the linked fork to simply remove `app_engine`.

[2019-02-27 00:16] adrienthebo commented on #102
`org_id` became a required variable in acfad021718db2a184972cdc594f418e255317f8 as part of the preconditions script requirements. Making the `org_id` required also avoids some permissions issue; without it I believe that the Project Factory requires `roles/resourcemanager.organizationViewer`. Since the org ID should be readily available and making it required simplifies the module, I'm inclined to

[2019-02-27 00:17] adrienthebo commented on #11
Addressed in Project Factory v1.0.0.

[2019-02-27 00:17] #11 closed

[2019-02-27 23:25] sandhyajob opened #152 "GCP subnet share conditions not working correctly"
Based on the default 3 conditions
1. No `shared_vpc` and no subnets => no grants
2. `shared_vpc` and no subnets => grant to the project (all networks/subnets)
3. `shared_vpc` and subnets => grant to the subnets (and not to the project)

If the subnet id get messed up ( fat finger) while attempting case 3, project factory ends up sharing the entire set of networks in the host project VPC to the ser

[2019-02-27 23:58] leone145 commented on #152
When variable vpc_networks is incorrectly formed the failure happens and leaves all subnets shared
Correct formatting and functional
shared_vpc_subnets: '["projects/vpc-abc/regions/europe-west3/subnetworks/subnet1"]'

Incorrect formatting and error observed below
shared_vpc_subnets: '["projects/vpc-abc/regions/europe-west3/subnet1"]'

* google_compute_subnetwork_iam_member.service_account_role_to_

[2019-02-28 00:20] leone145 commented on #152
When variable vpc_networks is incorrectly formed the failure happens and leaves all subnets shared
Correct formatting and functional
shared_vpc_subnets: '["projects/vpc-abc/regions/europe-west3/subnetworks/subnet1"]'

Incorrect formatting and error observed below
shared_vpc_subnets: '["projects/vpc-abc/regions/europe-west3/subnet1"]'

    * google_compute_subnetwork_iam_member.service_account_role

[2019-02-28 06:18] thefirstofthe300 commented on #111
Just to reiterate, the scenarios that need to be tested are:

* Pass in a `group_name`, and `create_group = false` => grant the roles to the group
* Pass in a `group_name` and `create_group = true` => create the given group name and grant it the required roles
* Don't pass in a group_name and `create_group = true` => creates a group named `project_name-editors` and grants it the required roles.
*

[2019-02-28 15:56] morgante commented on #152
#97 is related.

[2019-03-01 13:00] leone145 commented on #97
I have verified on our end that the fix listed does correct the condition of not adding the group_name to the project level if condition 3 is met. However group_name does not get cleaned up from the shared subnet on project destroy.

[2019-03-04 16:06] ocervell commented on #102
@adrienthebo Some more details in #20.
tl;dr: sometimes sub-teams want to create projects and have restricted access (no org viewer role granted to their group / Terraform service account). Ideally, creating a project should just require the 'projectCreator' role under the folder / org they're spinning it up under.
Why do we need `org_id` in the pre-requisites script ?

[2019-03-04 16:11] morgante commented on #102
@ocervell Can you clarify whether the issue is with requiring the `org_id` attribute or requiring the Organization Viewer role?

I'd think the first requirement is fairly innocuous but agree we can/should drop dependencies on Org Viewer.

[2019-03-04 16:30] MarioUhrik opened #157 "Creating multiple projects from one module"
Hello,
my intention is to create a script **script.sh** that uses one Terraform config **main.tf** with a single project factory module in order to create an arbitrary number of GCP projects.
The idea of the usage is:
[code]
where projects x,y,z are GCP projects that i'd like to create and **script.sh** does roughly
`terraform apply -auto-approve -var "credentials_path=credentials.json" -var "proj

[2019-03-04 19:51] #33 closed

[2019-03-04 20:01] glarizza commented on #152
To add some more context here, these IAM resources are using a `split()` on the `shared_vpc_subnets` array to populate the `subnetwork` attribute on the subnet IAM member resources: https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/modules/core_project_factory/main.tf#L219-L265  If you pass in an element to that array that is't properly formatted with `projec

[2019-03-06 22:30] #132 closed

[2019-03-07 22:02] aaron-lane commented on #81
Fixed by #144.

[2019-03-07 22:02] #81 closed

[2019-03-13 15:55] sdouche opened #167 "Provide ability to choose the region of the bucket"
Hi,
the module creates the bucket in the US (`bucket_name` and `bucket_project` options), it would be cool to have the ability to choose the region.

Thanks

[2019-03-13 16:52] sdouche opened #168 "Disable dependent services"
Hi,
If you try to destroy a project with "complex" APIs activated, you have errors because the option `disable_dependent_services` is not set:

[code]

[2019-03-14 13:10] #157 closed

[2019-03-14 13:16] morgante commented on #157
@MarioUhrik Did you solve this?

[2019-03-14 13:34] MarioUhrik commented on #157
I have tried both approaches personally, and both worked as expected.
I decided to keep using the first approach for now.

This issue isn't really a problem within terraform-google-project-factory, but more like a discussion or asking for advice. There didn't seem to be any interest in this topic from other people, and I have moved on since then. Hence I decided to close the issue, but we can reop

[2019-03-29 04:15] MarkDyson opened #174 "Error: module.project-factory.module.project-factory.null_resource.preconditions: : invalid or unknown key: environment"
Getting the following on a number of example projects in the proj factory:

Error: module.project-factory.module.project-factory.null_resource.preconditions: : invalid or unknown key: environment

[2019-04-04 09:51] #174 closed

[2019-04-04 09:52] MarkDyson commented on #174
Error was obfuscating other environment inadequacies.  Commented out graceful "environment" lines and was presented with the underlying errors.

[2019-04-09 18:36] aaron-lane commented on #138
Hi @ensslen. Thank you for your interest in the project! I apologize for the extreme delay in responding.

Since project-factory v2.1, `project_id` is an optional variable, but that only solves part of this problem as the ultimate value passed to the `google_project` has sufficient interpolation complexity to cause an imported project to be recreated even when its ID is provided as an input. We ar

[2019-04-16 02:58] garrettwong opened #181 "Deletion of Default Compute Service Account causes showstopping issues with Services - AppEngine Flex, Cloud Run"
Deletion of Default Compute Service Account causes issues where you cannot use services:
- AppEngine Flex
- Cloud Run

Perhaps - Use the Default Compute Account: ([PROJECT_NUMBER]-compute@developer.gserviceaccount.com) and Reduce the IAM Permission on it, instead of deletion of the Default and Recreation.

[2019-04-16 06:17] morgante commented on #181
We can add a variable flag to disable this behavior.

[2019-04-22 21:11] morgante commented on #167
Fixed by #170

[2019-04-23 23:52] ramzimaalej opened #185 "Script not found error when deleting default service account"
I'm trying to use this module to create a gcp project but it fails when it tries to delete the default service account. I'm using google cloud build as a ci tool.

`
Finished Step #3
Step #3:
Step #3:
Step #3: above and apply again to incrementally change your infrastructure.
Step #3: any resources that successfully completed. Please address the error
Step #3: Instead, your Terraform state file ha

[2019-04-24 00:22] ramzimaalej commented on #185
not sure why it failed, but it works using this docker image: https://github.com/GoogleCloudPlatform/cloud-builders-community/tree/master/terraform

[2019-04-24 19:43] morgante commented on #185
Perhaps the Cloud Build image you used didn't include bash, closing since the other image worked.

[2019-04-24 19:43] #185 closed

[2019-04-30 19:02] #121 closed

[2019-05-01 19:34] aaron-lane commented on #97
Fixed by #164.

[2019-05-01 19:34] #97 closed

[2019-05-01 19:38] aaron-lane commented on #105
Still broken on master: https://concourse.infra.cft.tips/teams/cft/pipelines/terraform-google-project-factory/jobs/integration-tests/builds/395#L5cb98c2e:505.

[2019-05-01 19:58] aaron-lane commented on #168
Hi @sdouche!

A `disable_services_on_destroy` variable was added back in v1.0 and it defaults to `"true"`. Are you using a version of this module which is at least v1.0?

[2019-05-01 20:19] aaron-lane commented on #168
@sdouche: please ignore my previous comment. That is a different feature. :)

[2019-05-03 16:16] aaron-lane commented on #60
Fixed by #110.

[2019-05-03 16:16] #60 closed

[2019-05-03 16:23] aaron-lane commented on #88
This appears to have been fixed.

[2019-05-03 16:29] morgante commented on #88
@aaron-lane I'm still seeing empty defaults here: https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/test/fixtures/shared/variables.tf

[2019-05-03 19:18] chrislovecnm opened #190 "Terraform 1.11 support"
I notice that the docs say that 1.10 is supported.  Is 1.11?

[2019-05-03 19:25] chrislovecnm opened #191 "Document installation of preconditions.py requirements"
The README does not mention that you need to install the prereqs for precondions.py to run. Maybe we should mention it?

[code]

I know that I need to run pip3 with the requirements files, but not everyone will know that :)

[2019-05-03 19:35] chrislovecnm opened #192 "Permissions required by setup-sa.sh not documented"
I have a user that does not have the correct permissions to run the setup-sa.sh script.  The documentation does not tell me what permissions I need in order to run this scripts.  Here is my error:

[code]

I removed org number and project id for security sake.

What permissions does the user need to run the setup-sa.sh script?

[2019-05-03 22:25] morgante commented on #192
I believe Organization Admin should be sufficient, we should add this under the [script helper](https://github.com/terraform-google-modules/terraform-google-project-factory#script-helper) documentation.

[2019-05-03 22:26] morgante commented on #191
Good idea, let's add this to the docs.

Eventually, we would like to replace Python scripts with static Go binaries.

[2019-05-03 23:06] chrislovecnm commented on #192
Many ops people will not have .org admin. Do we know the perms?

[2019-05-03 23:10] morgante commented on #192
I believe the *org* permissions required are:

- resourcemanager.organizations.get
- resourcemanager.organizations.getIamPolicy
- resourcemanager.organizations.setIamPolicy

Additional perms are required on the seed project.

[2019-05-06 14:55] ocervell commented on #102
@morgante yes I meant Org Viewer, when creating a project under a folder Organization Viewer should not be required (but Folder Viewer might be)

[2019-05-06 16:07] kopachevsky commented on #152
@aaron-lane @morgante
how do you think what is the best option for validation, we have 2 possible points:

1. terraform-google-project-factory/modules/core_project_factory/scripts/preconditions/preconditions.py, which is not good option as for me
2. do it in terraform module, here is the code I would solve this:

`

variable "shared_vpc_subnets" {
  description = "List of subnets fully qualified s

[2019-05-06 17:41] leone145 opened #193 "API Page size too small"
During preconditions check, if the seed project has a large number of APIs enabled, the python precondition check cannot page and preconditions fail. Suggest increasing the pageSize option as below.
[code]

Error observed that led to the discovery.
': exit status 1. Output: [
    {
        "type": "Required APIs on service account project",
        "name": "projects/project-abc123",
        "satis

[2019-05-07 14:59] aaron-lane commented on #88
Some of those

[2019-05-07 15:28] aaron-lane commented on #152
@kopachevsky this should indeed be solved in the Terraform configuration; `preconditions.py` is used to verify the presence of required permissions.

If we are relying on the `google_subnet_iam_member` resources to throw errors when invalid subnets are provided then we should choose a more descriptive string than simply `"dummy-subnet"`. Alternatively, we could use one of the solutions from [this

[2019-05-07 19:13] aaron-lane commented on #168
Fixed by #188

[2019-05-07 19:13] #168 closed

[2019-05-08 03:44] mwallman commented on #181
https://github.com/terraform-google-modules/terraform-google-project-factory/pull/186

[2019-05-08 18:49] morgante commented on #193
Thanks, good catch. We'd be happy to look at a PR for either fix.

[2019-05-08 22:53] mikhail-khodorovskiy opened #195 "Can't specify folder_id."
[code]

When both org_id and folder_id are specified:
* google_project.main: 'org_id' and 'folder_id' cannot be both set.

When org_id is not specified:
 module "host-project": missing required argument "org_id"

How can I create a project in a folder?

[2019-05-10 07:12] shyamgovardhan opened #196 "disable_dependent_services"
**Error: module.host-project.module.project-factory.google_project_service.project_services: : invalid or unknown key: disable_dependent_services**

**cft.tfvars**
organization_id = "12345678790"
billing_account = "AAAAA-BBBBB-CCCCC"
credentials_path = "demo_credentials_20190430131031.json"

**terraform.tfvars**
host_project_name = "shared-vpc-host-090519"
network_name = "shared-vpc-net-090509"

t

[2019-05-10 07:16] shyamgovardhan commented on #196
There error is produced when terraform plan is executed from the shared_vpc folder.

https://github.com/terraform-google-modules/terraform-google-project-factory/tree/master/examples/shared_vpc

terraform plan -var-file=cft.tfvars

[2019-05-10 15:05] aaron-lane commented on #196
@ingwarr please take this issue.

[2019-05-10 16:34] ingwarr commented on #196
I've took it

[2019-05-10 18:12] morgante commented on #196
Hi @shyamgovardhan,

It looks like you're using a very old version of the Google Provider (1.2). Can you try upgrading to the 2.1 version of the provider and seeing if your issue is fixed?

[2019-05-10 19:09] morgante commented on #152
@kopachevsky As an incremental fix, please provide a PR which *only* automatically strips the `https://www.googleapis.com/compute/v1/` prefix. This should be very straightforward and would immediately fix https://github.com/terraform-google-modules/terraform-google-network/pull/33

[2019-05-10 22:03] shyamgovardhan commented on #196
Thanks Morgante, It worked after changing the provider version. Could you change the provider version in the examples folder.

provider "google" {
  credentials = "${file(local.credentials_file_path)}"
  version     = "~> 2.1"
}

provider "google-beta" {
  credentials = "${file(local.credentials_file_path)}"
  version     = "~> 2.1"
}

[2019-05-13 10:52] ingwarr commented on #196
I've changed it https://github.com/terraform-google-modules/terraform-google-project-factory/pull/198

[2019-05-13 15:10] aaron-lane commented on #105
I've looked in to this issue more.

The malformed `group_email` output is part of the minimal suite, not the full suite. The minimal suite does not use a G Suite group which is why this broken output is not causing a failure. The fix for this issue should be in the `gsuite_group` module, specifically at [this line](https://github.com/terraform-google-modules/terraform-google-project-factory/blob/m

[2019-05-13 15:16] alexkonkin commented on #105
Thank you for your review.
I will remove my test from the full test suite and rewrite it according
to the approach that you mentioned in your previous reply

[2019-05-13 19:44] #196 closed

[2019-05-16 12:54] sdouche commented on #167
Hi,
Why the variable is only added on the module and not on top?

Regards.

[2019-05-16 15:17] morgante commented on #167
You're right, we also need to have this in the top-level module.

[2019-05-17 14:18] jcejohnson opened #202 "Need to be authoritative on activate_apis"
I need to be able to tell terraform-google-modules/project-factory/google to use terraform's google_project_services resource (instead of google_project_service).

I propose a new attribute `apis_authority` for use in modules/core_project_factory/main.tf:

    resource "google_project_service" "project_services" {
      count = "${ apis_authority == "true" ? 0 : length(var.activate_apis)}"
      .

[2019-05-20 16:15] iniinikoski commented on #195
Hi @mikhail-khodorovskiy,

Interesting... I'm able to create projects into folder - no error like yours happening...

Using the latest factory with latest TF version (0.11.14)...

[2019-05-20 16:52] #105 closed

[2019-05-20 20:11] mikhail-khodorovskiy commented on #195
I was also passing domain.  When I stopped doing that, the error went away.

From: Iiro Niinikoski <notifications@github.com>
Reply-To: terraform-google-modules/terraform-google-project-factory <reply@reply.github.com>
Date: Monday, May 20, 2019 at 9:16 AM
To: terraform-google-modules/terraform-google-project-factory <terraform-google-project-factory@noreply.github.com>
Cc: "Khodorovskiy, Mikhail"

[2019-05-21 01:50] #152 closed

[2019-05-21 01:59] morgante commented on #190
Yes, 1.11 is supported.

[2019-05-21 02:01] #181 closed

[2019-05-21 02:06] #122 closed

[2019-05-21 02:07] #65 closed

[2019-05-21 21:04] morgante opened #204 "Service account deletion requires gcloud authentication"
The deletion script fails if environment credentials aren't present, even if credentials are explicitly passed to the module.

[2019-05-21 21:34] bbrouwer opened #205 "gsuite_enabled should not require credentials_path"
The `credentials_path` for the `gsuite_enabled` module should not be required since it is only being passed to the core_project_factory doesn't require it.

[2019-05-21 21:36] morgante commented on #205
Yes, good catch. PR welcome. :)

[2019-05-22 16:06] morgante commented on #167
Fixed by #207

[2019-05-22 16:06] #167 closed

[2019-05-22 20:40] bbrouwer commented on #205
As I make progress with this, I'm running into more issues. If I don't provide the `credentials_path`, I get the following error:
[code]

The reason I am going down this path is that we currently don't have all of our Terraform setup with CI/CD and auditors want to know who is actually making changes to the GCP environment; meaning they want to see my name in the audit logs, and not some service a

[2019-05-22 20:52] morgante commented on #205
We definitely don't want to make `credentials_path` required, because we would like to support two key scenarios:

1. Running in environments where identity is implicit (ex. Cloud Build or GCE VM)
2. Being able to apply changes locally using user credentials

Could you open a separate bug about the preconditions script issue?

[2019-05-22 21:25] #205 closed

[2019-05-23 07:32] thefirstofthe300 opened #209 "Add support for Terraform v0.12"
A dry-run of my current use case for project factory yields the following error output:
[code]
It would be nice to be able to use the CFT with Terraform v0.12, even if the CFT doesn't yet use all of the new features for v0.12.

[2019-05-23 18:10] bbrouwer opened #211 "Enable personal credentials to be used as default application credentials"
The `preconditions.py` script ends up requiring the use of a service account's credentials as it is looking up which APIs are enabled on the project hosting the service account. When using personal credentials, there is no project, so it fails in checking which APIs are enabled on the hosting project, as there is no hosting project.

[2019-05-23 19:33] #211 closed

[2019-05-24 22:17] dhduvall opened #214 ""Module not found" with terraform 0.12"
When I run `terraform init` (terraform version 0.12.0) I get a pile of messages like this:

[code]

(The two "Module not found" messages are each repeated multiple times.)

With 0.11.13, I see instead

[code]

If I follow the directions in the error messages and prepend `./` to the `source` paths for the two modules referenced in the top-level `main.tf`, `terraform init` runs to completion with bo

[2019-05-24 23:28] morgante commented on #214
@dhduvall Unfortunately this module has not yet been updated to support v0.12, see #209 to track that support.

[2019-05-24 23:28] #214 closed

[2019-05-25 00:42] dhduvall commented on #214
I saw that, but not these errors, so I thought perhaps they were less related. I'll add my errors to #209.

[2019-05-25 00:44] dhduvall commented on #209
Here's another error related to 0.12 (from #214): when I run terraform init (terraform version 0.12.0) I get a pile of messages like this:

[code]

(The two "Module not found" messages are each repeated multiple times.)

With 0.11.13, I see instead

[code]

If I follow the directions in the error messages and prepend `./` to the source paths for the two modules referenced in the top-level `main.tf

[2019-05-27 15:54] #190 closed

[2019-05-27 15:54] #137 closed

[2019-05-27 15:57] aaron-lane commented on #195
@mikhail-khodorovskiy can you please confirm which version of the module you are using?

[2019-05-27 16:09] aaron-lane commented on #102
This appears to have been solved with v2.1.3, specifically #178. @angstwad, @ocervell can you please confirm?

[2019-05-27 18:43] aaron-lane commented on #191
We could add `pip3` to the provisioner logic as well.

[2019-05-28 15:25] morgante opened #216 "Make sure tests do not depend on organization viewer permission"

[2019-05-28 15:25] morgante commented on #216
To ensure that #20 doesn't get repeated.

[2019-05-29 12:11] ingwarr commented on #195
Could you please provide me with the path to reproduce this issue.  I can't reproduce it in my environment. All looking good and I can create a project in a folder and without folder.

[2019-05-29 16:13] aaron-lane commented on #192
@chrislovecnm can you please confirm if these permissions were sufficient to unblock your user?

[2019-05-31 15:43] aaron-lane commented on #193
Fixed by #220.

[2019-05-31 15:43] #193 closed

[2019-06-11 14:45] ocervell opened #226 "Fail to move an org-level project to folder-level"
When creating a project with only `org_id` set, and later trying to set `folder_id` to move that project under a folder, we get the following error:
[code]

The issue stems from the provider but the solution provided in the GitHub [issue](https://github.com/terraform-providers/terraform-provider-google/issues/1701) doesn't work for PF.

[2019-06-11 19:43] morgante commented on #226
Given this is an upstream provider issue, I don't think there's much we can do in the module to fix it. Now that 0.12 is out, let's try to fix it on the provider (please open a new issue there).

[2019-06-11 19:43] #226 closed

[2019-06-13 15:46] aaron-lane opened #227 "Add test suite for app_engine submodule"
This test suite should leverage the `app_engine` example module.

[2019-06-14 02:14] chrislovecnm commented on #192
Have not had a chance to validate

[2019-06-14 08:29] ocervell commented on #102
@aaron-lane yep, that should fix it since the precondition script was the one failing.

[2019-06-14 20:39] #102 closed

[2019-06-17 19:19] glickbot opened #228 "precondition check fails w/o project"
if no project is set in gcloud (i.e. running project-factory to create the first project in an org), the precondition.sh/precondition.py scripts seem to fail. I temporarily put a 'if gcloud config list project > /dev/null' wrapping the call to precondition.py in precondition.sh to get around it. I can put a PR with that, but I'm not sure that's desirable.

[2019-06-17 19:20] morgante commented on #228
Which part of the precondition script fails?

[2019-06-18 22:41] jcejohnson opened #229 "Error when shared_vpc is not empty but shared_vpc_subnets is"
Usecase:

[code]

Errors during terraform plan:

[code]

[2019-06-20 18:26] SeanRepos opened #232 "apis_authority isn't being passed as an input to modules/core_project_factory"
apis_authority argument isn't working.  apis_authority isn't being passed as an input to modules/core_project_factory from terraform-google-modules/project-factory/google

https://github.com/terraform-google-modules/terraform-google-project-factory/blob/v2.4.0/main.tf

[2019-06-21 15:43] aaron-lane commented on #229
@jcejohnson I apologize for the frustrating experience.

Just to confirm, this error occurs even if you include an empty string element?

[2019-06-21 15:50] jcejohnson commented on #229
Aye. We tried with nothing (i.e. - take the default), empty list and list with empty string. All give the error.
The silver lining is that it made us re-examine our usecase and found that we actually *should* be passing a non-empty list.

[2019-06-21 20:52] #232 closed

[2019-06-22 19:22] ESSch opened #235 "Error: Module not found"
Helllo. It's don't work.

[code]

[2019-06-22 21:23] morgante commented on #235
You are likely using Terraform 0.12—this module isn't yet compatible. Compatibility is tracked in #209.

[2019-06-22 21:23] #235 closed

[2019-06-26 10:17] bohdanyurov-gl commented on #229
@jcejohnson I've tried creating project using your example config, it worked for me.

Could you please give more details? Can you retry it with tf0.12 version (aaron-lane-0.12)?

[2019-06-26 14:27] jcejohnson commented on #229
Interesting. We're using 0.11.13, we haven't taken the plunge into 0.12.x yet.

[2019-06-26 15:52] bohdanyurov-gl commented on #229
ok, I've rechecked it with TF 0.11:
![image](https://user-images.githubusercontent.com/47155283/60195258-71252000-9843-11e9-96da-97233643f6b0.png)
![image](https://user-images.githubusercontent.com/47155283/60195298-81d59600-9843-11e9-8f3e-c71d420c63ca.png)

[2019-06-26 15:58] morgante commented on #229
Since we're unable to reproduce this and @jcejohnson has changed to using an explicit subnet list, I'm going to close this out for now.

If anyone else encounters it, please comment and we can reopen.

[2019-06-26 15:58] #229 closed

[2019-06-27 11:50] ingwarr commented on #47
@aaron-lane I can't reproduce this issue. As I see similar construction used in https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/examples/shared_vpc/main.tf and it works.

[2019-06-27 14:29] morgante commented on #47
@ingwarr: That example is not the same. That example shows creating a host project, not a service project.

The key part of the issue is this variable:
[code]

[2019-06-27 21:56] mengesb commented on #191
So potentially a quick fix for this would be adding the install specified in the `requirements.txt`:

[code]

Of course if you want to extend the requirements installation to produce an else for errors then by all means, I was considering this as a PR

[2019-06-27 22:08] mengesb opened #238 "Project factory assumes credentials.json"
While I understand that Terraform Enterprise is a minority, it would be nice to not rely on the content and location of an explicit file. In the case of Terraform Enterprise, and also other automation tools like Jenkins and the like, an ephemeral container is spawned with a limited toolset and no common local variables and files (such as ~/.some_hidden_directory).

For the google provider, it's si

[2019-06-27 22:39] morgante commented on #238
@mengesb We don't *require* the `credentials.json` file be provided, actually.

The module (including `preconditions.py`) will automatically use [Application Default Credentials](https://cloud.google.com/docs/authentication/production#providing_credentials_to_your_application) if they are available.

In Terraform Enterprise, is it not possible to set environment variables?

[2019-06-28 15:06] mengesb commented on #238
@morgante my intrepretations of application default credentials is that the env var points to the json file... Am I missing something other than this segment:

[code]

[2019-06-28 18:38] aaron-lane commented on #191
@mengesb nice. Feel free to open a PR!

[2019-06-28 18:42] aaron-lane commented on #238
@mengesb I believe setting `GOOGLE_CREDENTIALS` to the contents of a key file should suffice.

[2019-07-01 15:51] sdouche commented on #209
Hey folks :)
Any update?

[2019-07-01 17:52] mengesb commented on #238
@aaron-lane there's quite a bit that's in the `credentials.json` file, which value of the following keys are you referring to? My code snippet above shows all the keys present in the json file, are you referring to the value for `private_key` ?

[2019-07-01 18:31] mengesb commented on #238
I tried exporting the `private_key` value as `GOOGLE_CREDENTIALS`, pTFE still gives me this response on the preconditions:

[code]

[2019-07-01 23:30] nicobrinkkemper commented on #138
Can I fill in a existing project name without fear of losing the name? I fear it will be deleted and then won't be able to use that name anymore.

[2019-07-02 17:11] aurelienlegrand commented on #47
**@aaron-lane**, I think I ran into the same issue.

Here is an extract of code showing the issue:
[code]

[2019-07-02 18:18] aurelienlegrand commented on #47
@aaron-lane, I think I ran into the same issue.

Here is an extract of code showing the issue:
[code]
With the above code, when I run a `terraform plan` command, I get this kind of errors

[code]

If I use a static reference to a project_id for the last line (`shared_vpc`) it will work as intended and attach the service project to the Shared VPC in the host project.

[2019-07-02 21:46] mengesb commented on #238
So all in all this has been an enlightening experience. I can get around the `credentials_path` requirement by creating a var above as described, and then using the `local_file` resource to write this out to the file system on the pTFE container. the trigger of course would also have to update and fire on resources where this is necessary. I'm working through an operational example currently, just

[2019-07-03 14:44] aaron-lane commented on #138
@nicobrinkkemper support is not in place for importing existing projects.

[2019-07-03 14:49] aaron-lane commented on #209
Hi @sdouche, the implementation is being staged in #237. We hope to release by the end of next week.

[2019-07-03 18:05] aaron-lane commented on #238
@mengesb what I meant was to read the contents of `credentials.json` in to `GOOGLE_CREDENTIALS`, like `export GOOGLE_CREDENTIALS="$(< credentials.json)"`.

[2019-07-05 16:10] ingwarr commented on #47
@aaron-lane Thank you! I've reproduced it. So now I'm looking for a workaround.

[2019-07-05 22:41] ESSch commented on #235
Thanks. Yes, I do.

[2019-07-08 19:13] #191 closed

[2019-07-08 20:36] #192 closed

[2019-07-10 10:28] rjerrems opened #243 "Add support for temporarily generated access tokens"
It would be great to support temporarily generated access tokens with this module. Right now, if temporary tokens are used with Terraform provider configuration the module mostly works - except for cases where gcloud commands are used or when the preconditions python script runs as they both assume they are using a static credentials file. An example of my provider setup looks like this:
[code]

I

[2019-07-16 15:58] aaron-lane commented on #228
@glickbot can you please provide more details?

[2019-07-16 16:02] morgante commented on #228
@aaron-lane We probably have enough information to repro though.

[2019-07-17 07:18] neodani commented on #195
Same error
I'm using **Terraform v0.11.14** and this version module **2.4.1**

Any idea how to solve? if I have to increase terraform version or module version? Thanks!

[code]

1 error occurred:
	* module.project-1.module.project-factory.google_project.main: 1 error occurred:
	* google_project.main: 'org_id' and 'folder_id' cannot be both set.

[2019-07-17 07:35] neodani commented on #209
I'm still having problems, I'm trying with terraform 0.12.0 and even with 0.12.4

Same error, I'm trying with module version 3.0.0

[code]

What can I do?

Thanks

[2019-07-19 00:29] morgante commented on #209
Fixed in #237.

[2019-07-19 00:29] #209 closed

[2019-07-19 00:46] morgante opened #247 "Permission denied when using preconditions script"
[code]

I don't think installing the preconditions as part of install is really a good idea.

[2019-07-19 00:55] morgante commented on #238
I'm going to go ahead and close this because Project Factory *should* work with credentials provided from the environment as @aaron-lane described. If you run into further blockers, please reopen.

[2019-07-19 00:55] #238 closed

[2019-07-19 00:57] morgante commented on #195
@neodani Can you try using the latest module version with Terraform 0.12? Specifying a folder works for me:

[code]

Terraform version info:
[code]

[2019-07-22 15:31] mengesb opened #248 "nil values on destroy result in errors reported"
Unfortunately, Terraform reports `nil` value returns as an error, and there should be a way to default these or handle it more gracefully.

On destroy:
[code]

Ideally these should return cleanly on destroy.

[2019-07-25 23:07] morgante commented on #202
This is now available.

[2019-07-25 23:07] #202 closed

[2019-07-26 13:07] paulpalamarchuk commented on #204
@morgante Can you describe steps to reproduce the bug?
I tried to reproduce it with empty `gcloud` credentials:
![pfactory_issue204_sh1](https://user-images.githubusercontent.com/15910313/61953522-430c3a80-afbf-11e9-9ca2-8777ef97f596.png)
![pfactory_issue204_sh2](https://user-images.githubusercontent.com/15910313/61953525-43a4d100-afbf-11e9-80e7-04bbee9ce9da.png)
![pfactory_issue204_sh3](https://u

[2019-07-26 15:53] morgante commented on #204
This is resolved.

[2019-07-26 15:53] #204 closed

[2019-07-26 16:32] jmenon-mwp opened #249 "Attempting to remove non existent default network"
When trying to create a project using the project factory module, it tries to remove the default network and fails, there by causing the 'terraform apply' to fail half way through. This is because the organizational policy for 'do not create default network' is on in the Org where I tested this.

[2019-07-26 20:34] morgante commented on #47
I think it's possible to do this in a non-breaking way:

1. Update the core project factory to include an "enable_shared_vpc" variable which is used to enable/disable that resource (instead of looking at the `shared_vpc` flag).
2. In the root module, look at the `shared_vpc` variable and set the `enable_shared_vpc` variable  appropriately when passing it through to the inner module.
3. Add a `shar

[2019-07-30 11:17] ingwarr opened #250 "Optimization of lint test for terraform fmt"
Current construction in lint tests for  terraform fmt is not optimal, because of too many bash calls in the pipe I suggest minimalistic and enough construction for it:
`find . -type f -name "*.tf" -exec terraform fmt -diff -check=true -write=false {} \;`
instead of:
  echo "Running terraform fmt"
  find_files . -name "*.tf" -print0 \
    | compat_xargs -0 -n1 dirname \
    | sort -u \
    | compat

[2019-07-30 11:33] jmenon-mwp commented on #249
Closing issue, was just the lack of RTFM

[2019-07-30 14:07] morgante commented on #249
@jmenon-mwp We still probably want to fix this case actually.

[2019-07-30 14:36] aaron-lane opened #251 "Remove lien from test fixture"
The full test fixture sets a lien on the created project which prevents it from being destroyed in CI. The lien should be removed to avoid wasting project quota.

https://github.com/terraform-google-modules/terraform-google-project-factory/blob/2d181abb0da9b8dc4b8090ba3504764488ce9a6f/test/fixtures/full/main.tf#L113

[2019-07-30 16:40] mikhail-khodorovskiy commented on #243
+ 1!
Just spent a day trying to figure out why the default service account can't be deleted while impersonation is used.

[2019-07-30 18:03] morgante commented on #243
Fixed by #243.

[2019-07-30 18:03] #243 closed

[2019-07-31 08:22] ivankorn opened #252 "Add error handling for docker linter for when it's not installed"
[`hadolint`](https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/test/make.sh#L79) fails when it's not installed.

I suggest we add error handling and run docker call as a backup plan for the case.
[code]
Since installing `hadolint` with `stack` fails on some mainstream distros (f.e. OpenSuse Tumbleweed)

[2019-07-31 12:54] ivankorn commented on #252
Install error to be reported to [upstream](https://github.com/hadolint/hadolint/issues/new)
[code]

[2019-07-31 16:38] morgante commented on #252
This will be addressed with our new DevEx work.

[2019-07-31 16:38] #252 closed

[2019-08-06 14:18] anagas opened #254 "Precondition is not working on windows machine"
Hello

I tried to run this module but it failed with this error message:

Error: Error running command '    ./terraform/modules/service_project/terraform-google-modules-terraform-google-project-
factory-2d181ab/modules/core_project_factory/scripts/preconditions.sh \
    --credentials_path 'C:/Users/xxx/Documents/xx/TestingTerraform/create_projects_with_peering/account.json'
\
    --billing_account

[2019-08-06 14:33] morgante commented on #254
What was the update you made to get it working?

[2019-08-06 14:44] anagas commented on #254
Hello morgante

i changed the main.tf in core_prohects_factory.

  provisioner "local-exec" {
    command = <<EOD
    C:\Users\xx\Documents\xx\xx\TestingTerraform\create_projects_with_peering\.terraform\modules\service_project\terraform-google-modules-terraform-google-project-factory-2d181ab\modules\core_project_factory\scripts\preconditions.sh \
    --credentials_path '${var.credentials_path}' \

[2019-08-06 15:15] anagas commented on #249
Hello @jmenon-mwp @morgante  What is the solution?

[2019-08-06 15:21] morgante commented on #249
@anagas We haven't fixed this in the core module yet, but you can workaround this by setting `auto_create_network` to true.

[2019-08-07 08:13] anagas commented on #249
@morgante thanks!

[2019-08-07 08:37] anagas commented on #254
Hello morgante

Its not the only path which is not working. Every path that is received from ${path.module} is not working in windows.

Regards,

Ahmet

[2019-08-07 08:39] morgante commented on #254
Could you open an upstream issue? This seems like a Terraform code bug.

[2019-08-09 11:21] anagas commented on #254
I opend a ticket on terraform.

[2019-08-10 10:26] ludoo opened #255 "Cut new release with ##253"
Would it be possible to cut a new release that includes #253 ? I'm starting to work on portic the fabric environments, and this is kind of a blocker.

[2019-08-12 13:49] morgante commented on #255
v3.1.0 released.

[2019-08-12 13:49] #255 closed

[2019-08-13 11:50] ingwarr commented on #228
@glickbot Could you please provide me with more details, I can't reproduce it I run local-minimal test with apptopriate set of variables and it works without any issues, it creates the project in organization. Please take a look:

      bash-4.4# env|grep TF_VAR
      TF_VAR_billing_account=01E8A0-35F760-5CF02A
      TF_VAR_random_string_for_testing=ces78
      TF_VAR_group_name=pf-ci-test-fixture

[2019-08-13 18:47] morgante commented on #228
@ingwarr What is your gcloud config though? This needs to be an empty/uninitialized gcloud.

[2019-08-14 10:43] ingwarr commented on #228
My gcloud config:

    bash-4.4# gcloud config list
    [auth]
    credential_file_override = /tmp/tmp.SUwzxxR8aK
    [component_manager]
    disable_update_check = true
    [core]
    account = project-factory-21468@gl-ipukha.iam.gserviceaccount.com
    disable_usage_reporting = true
    [metrics]
    environment = github_docker_image
    Your active configuration is: [default]

I unset project p

[2019-08-14 10:57] averbuks opened #258 "fabric-project submodule has complicated parent ID"
Currently, parent is specified using both the parent_id and parent_type.
It makes it complex to combine with https://github.com/terraform-google-modules/terraform-google-folders where the output has them both separated by '/'.
It would be better to have only one var 'parent' which is a concatenation of 'parent_type'/'parent_id'

[2019-08-14 15:03] #195 closed

[2019-08-14 22:13] #47 closed

[2019-08-14 22:14] morgante opened #260 "Autogenerate the different submodules"
Currently, we have 3 modules with nearly identical code:

- [Core project factory](https://github.com/terraform-google-modules/terraform-google-project-factory)
- [G Suite enabled](https://github.com/terraform-google-modules/terraform-google-project-factory/tree/master/modules/gsuite_enabled)
- [Shared VPC](https://github.com/terraform-google-modules/terraform-google-project-factory/tree/master/mo

[2019-08-15 07:33] #258 closed

[2019-08-15 09:32] ingwarr commented on #228
@morgante Probably this #220 fixed current issue before

[2019-08-15 11:23] ingwarr commented on #248
@mengesb Could you please provide me with steps to reproduce and versions of terraform, providers, variables, etc.

[2019-08-15 12:47] #228 closed

[2019-08-15 12:47] morgante commented on #228
If anyone else encounters this, please reopen.

[2019-08-16 18:40] morgante commented on #249
Can you share the error logs for what you get? As far as I can tell from [the code](https://github.com/terraform-providers/terraform-provider-google/blob/bcf010a9581fc5a91cbde7e8d7c8d41b45b58777/google/resource_google_project.go#L278), there shouldn't be an error raised if you attempt to delete a non-existent default network.

[2019-08-20 19:26] morgante commented on #249
Looks like you need to use v2.13.0 of the provider: https://github.com/terraform-providers/terraform-provider-google/blob/master/CHANGELOG.md#2130-august-15-2019

[2019-08-20 19:26] #249 closed

[2019-08-20 20:08] thefirstofthe300 commented on #248
I'm 99% certain that @mengesb's issue is [this upstream issue](https://github.com/hashicorp/terraform/issues/17862).

[2019-08-21 11:39] nick4fake commented on #248
@mengesb I am sorry, but we have failed to reproduce it. Could you please share your config?

[2019-08-28 09:58] #254 closed

[2019-08-28 17:54] morgante opened #262 "Update testing to Cloud Build"
We should update the testing to use Cloud Build and a new Service Account per run, as documented [here](https://docs.google.com/document/d/1eiHpZlhEDMDG8gi4LHyv2aZs1TJmeFlF8sqCE57_j4A/edit#heading=h.rz8l5qn0ygc0).

[2019-09-04 16:27] jeffling-google opened #265 "Error msg when running toolkit on Windows"
when i ran it on Windows, I got the following error:

module.service_project.module.project-factory.null_resource.preconditions (local-exec): Executing: ["cmd" "/C" ".terraform/modules/service_project/modules/core_project_factory/scripts/preconditions.sh \\\r\n    --credentials_path '' \\\r\n    --impersonate_service_account '' \\\r\n    --billing_account 'xxxxx' \\\r\n    --org_id 'xxxx' \\\r\n

[2019-09-05 14:43] thefirstofthe300 commented on #265
Yeah. The issue here is that Windows is trying to run the shell script as a batch file. The local-exec provisioner needs to be updated to either not run while on Windows or we need a batch file to do everything in the preconditions and use that on Windows.

Or we need to document that the module is not supported if being run outside of a bash/zsh environment.

[2019-09-05 15:24] morgante commented on #265
Agreed. I think the best immediate fix is to explain that this module isn't supported on Windows/outside of a bash environment.

[2019-09-22 03:49] mengesb commented on #248
Sorry for the long gap in reply time... I only just now noticed responses.

There's really nothing special about my config; and I think @thefirstofthe300 might be correct, however at last recollection we should be using 0.11.14 and I thought that should have been resolved.

[code]

The only real difference is that using a `local_file` resource to provide the `credentials_path` variable the path to

[2019-09-23 12:07] evkuzin commented on #247
I check it and it seems like we have 2 options:
- Remove prerequisites to README only
- Refactoring preconditions.sh to support different operating systems. Because this error is usual for MacOS, but on Linux, it should work well

[2019-09-23 18:28] morgante commented on #248
@mengesb We're no longer supporting Terraform 0.11 for this module so I'm going to close this for now.

If you upgrade to 0.12 and this is still happening, please reopen. Thanks!

[2019-09-23 18:28] #248 closed

[2019-10-01 18:00] ndmckinley opened #272 "`project_services` module disables too many APIs on change"
This issue was found here: https://github.com/terraform-providers/terraform-provider-google/issues/4570#issuecomment-536801048.

When you have a list of services, and you change one of the services, the services after that one in the list will be renumbered.  The renumbering leads to a destroy / create for each service, which could fail if some of the services are dependents of other services whic

[2019-10-01 18:05] ndmckinley commented on #272
Not that it is a big help to change `true` to `false` or anything, but I went and proposed that solution as a PR.  I'll watch to see if there are any tests or anything I should take care of here as well.

[2019-10-01 18:13] morgante commented on #272
Thanks! I think we might actually be better off switching to a for loop instead of count.

[2019-10-01 18:14] ndmckinley commented on #272
Oh yeah, that's way better.

[2019-10-01 20:00] Chupaka commented on #272
But then it will make the module unusable in TF 0.11, I believe. Kind of important for big installations of TFE having trouble to upgrade to 0.12 due to HashiCorp devs made output name restrictions without first documenting it and after those installations were deployed :)

[2019-10-01 20:16] morgante commented on #272
Well, we no longer provide official support for <0.12 on the module anyways so updates can use 0.12 functionality.

The old version of the module which can be used with 0.11 is [v.2.4.1](https://registry.terraform.io/modules/terraform-google-modules/project-factory/google/2.4.1/submodules/project_services).

[2019-10-01 21:00] sabhatdocai opened #274 "Projects created with this module have low (8) Default Quota for (Compute Engine API) `In-use IP addresses`"
When i create a project using this module the default quota on the in-use ip address is 8. But when i create the project from the GCP console the value for   in-use ip address 2300.  (REGION = GLOBAL) how do i increase the quotas via this or any other terraform module?

[2019-10-01 21:06] morgante commented on #274
Please open a support case. This is likely due to the reputation of your service account running Terraform.

[2019-10-01 21:26] sabhatdocai commented on #274
Ok. Sure. I can create a support case. can you add few words on this in the repo? probably in the FAQs ? Thanks

[2019-10-02 11:55] paulpalamarchuk opened #275 "CI "full" test failing, trying to use G-Suite"
Kitchen `full` test fails, because of using G-Suite functionality.

[2019-10-08 00:28] cilindrox opened #277 "GKE - Missing edit permissions on account"
After creating a project and a GKE cluster with [the gke module][gke-tf], I was pointed to [this troubleshooting doc][403-missing], from the GKE dashboard. Ended up un-deleting the default Compute Engine for the project.

Opening this cause it seems GKE might need a disclaimer/troubleshooting entry like [the one for app engine Flex][aef-warn] for running Compute Engine's SA deprivileged. If that's

[2019-10-08 00:48] morgante commented on #277
Thanks for taking a look at this.

To clarify, there are two service accounts involved in creating a GKE cluster:
1. The GKE service account
2. The default compute engine service account

Project Factory doesn't do anything to the GKE service account but *does* delete the default compute engine account.

However, the compute engine account is *not* required to run GKE modules. Instead, we recommen

[2019-10-09 18:24] #277 closed

[2019-10-09 18:25] morgante opened #279 "Remove google_project_services"
The `google_project_services` resource has been [deprecated](https://github.com/terraform-providers/terraform-provider-google/blob/master/CHANGELOG.md#2170-october-08-2019).

We need to remove it and the associated `apis_authority` input option (added in #202). Everyone will need to use the `google_project_service` resource.

[2019-10-11 12:53] cilindrox commented on #277
thanks for the quick reply and apologies for not being clear - I'm using a GKE cluster with its own service account per node, and experiencing no issues there.

I'm referring to the `PROJECT_NUMBER-compute@developer.gserviceaccount.com` SA here, which seems GKE also requires for operating the _dashboard_ or some other parts of the stack.

It wasn't until I restored this account that I was able to

[2019-10-11 13:41] morgante commented on #277
Interesting, that definitely shouldn't cause issues: in theory, everything the GKE service does should be using the GKE robot account.

If you encounter further issues, please let us know.

[2019-10-11 16:10] goobysnack commented on #279
Is there anyway we can leave it in post 3.0, as a known legacy resource?  Changing this might create a disruptive race condition in the state file for active services.  Additionally, the method that the state is stored is numerical, and when one service is removed from the tf config, the state is reorderd, and the apply errors out.

[2019-10-11 20:10] #262 closed

[2019-10-11 20:45] morgante opened #282 "Refactor service activation"
We need to improve service management in this module to address issues with duplication and potential race conditions.

We should:
1. Remove [authoritative mode](https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/modules/core_project_factory/main.tf#L165), as described in #279
2. Update the [core_project_factory](https://github.com/terraform-google-modules/ter

[2019-10-11 20:46] morgante commented on #279
The service is going to be removed in 3.0, so unfortunately we'll be unable to retain it.

However, as described in #282, we will do work to switch to `for_each` before removing this resource.

[2019-10-11 21:13] goobysnack commented on #279
Just so I'm clear - we can pin the google provider to <3.0.  Also, since we haven't migrated from Terraform .11 to .12 yet, we can't use `for_each` correct?

TIA

[2019-10-11 21:25] morgante commented on #279
Correct, you can pin to an old version of the module and provider in your configuration.

I'd strongly consider upgrading to 0.12 and the new provider versions in the future though, as support will continue to grow less.

[2019-10-11 21:50] goobysnack commented on #279
On our horizon, just need to find the time and resources :D

[2019-10-14 14:05] aaron-lane commented on #116
This does not appear to be an issue as of #264.

[2019-10-14 14:05] #116 closed

[2019-10-14 18:15] ndmckinley commented on #272
Hi there,

Not sure I'm the right assignee for this, since I think the solution has actually already been merged.

[2019-10-14 23:02] ideasculptor opened #283 "Organization viewer is required"
The org viewer requirement seems totally unnecessary, yet it is impossible to run this module without that permission.  I see other (closed) issues making the same point, with no explanation for the closure. Meanwhile, even a user with full Folder Administrator privileges cannot bring up a project in that folder with this module.  They will require permission sufficient to grant Organzation Viewer

[2019-10-15 04:59] morgante commented on #283
Hi @ideasculptor,

Thanks for the report. As discussed in #20, our goal actually is that org viewer should be optional.

If you manually pass in the org_id, everything should work properly without org_viewer. Have you tested this and seen errors? If this isn't working, we can and will fix it.

[2019-10-15 18:44] #272 closed

[2019-10-16 22:27] ideasculptor commented on #283
I believe I have, but I need to recreate the circumstance and confirm.  I was working from an account that was Folder Admin for a folder, and no privileges in the organization, and I could grant the service account I was using everything I needed except Org Viewer and I couldn't get it to work, and I did provide org_id.

I'm in the midst of publishing something on github, so I'll be back with a li

[2019-10-17 06:43] ideasculptor commented on #283
Confirmed - If I don't have `Organization Viewer` or `Organization Administrator`, it complains about being unable to read the `{org_id}` - Granting the service account `Organization Viewer` fixed the problem.  And I was definitely passing a valid value for org_id.

I just confirmed it using the gsuite_enabled module, but I had the same difficulty using the fabric_project module.

[code]

My varia

[2019-10-17 06:47] ideasculptor opened #285 "cannot impersonate_service_account in gsuite_enabled"
When creating a gsuite_enabled project, I am forced to specify a credentials_file, because the module does not declare `impersonate_service_account` or pass it through to the core module.  Looking at it, I don't see any reason why it would require a credential file only in the gsuite case.  The gsuite provider is configured separately.

[2019-10-17 15:02] #285 closed

[2019-10-17 16:33] morgante commented on #283
@ideasculptor Can you share the exact error/log output?

I'm having trouble reproducing and this is particularly surprising because our [test harness](https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/test/setup/iam.tf) specifically does *not* include the org viewer role.

[2019-10-17 18:36] ideasculptor opened #287 "group name should pass to outputs in order to daisy chain module calls"
If I want to create a single gsuite group and attach multiple projects to it, I want to do something like this:

[code]

But I have no output to use for such chaining.  I can pass the same value to both, but then I have no way to force the second module to wait for the first to finish.  The gsuite_group module just needs an additional output, along with a parallel output in the gsuite_enabled modu

[2019-10-17 18:40] ideasculptor opened #289 "pip3 install needs --user on OS X"
Native python on OS X will not allow installs to the global python.  All installs must happen with a --user flag.  It would be really nice to enable that in the code.  At the moment, mac users have to manually run the pip3 install command or modify preconditions.sh n order to get the module to run.

I'll send a PR shortly.

[2019-10-17 19:11] ideasculptor commented on #289
Adding a variable which gets used as additional params to pip3 in preconditions.sh is easy enough.  I have that branch ready to submit as PR.

But I suspect most users would actually prefer a boolean flag that just does the right thing when installing on Mac - detecting if the OS is mac, and then setting --user if it is, rather than just forcing the extra param(s) into all pip3 install calls when

[2019-10-18 20:11] ideasculptor commented on #247
This is a dupe of #290. I anticipate finishing the PR referenced in that one by end of day, providing the ability to conditionally add extra params, specifically the --user param, but it already works correctly, if someone needs a stopgap until it is merged.

[2019-10-18 20:14] ideasculptor commented on #282
Is it safe to assume that correcting this will correct the frequent error about attempting to delete the default service account when it is already deleted?

Even if the dependencies that cause that script to fire too frequently are corrected, it would be good to rewrite the script so that it correctly handles being called against a service account that is already deleted, so that it won't result

[2019-10-18 21:52] morgante commented on #282
That seems like an unrelated issue which I haven't seen before. Would you mind opening a bug (and including your config + plan + logs)?

[2019-10-18 21:52] morgante commented on #247
Duplicate of #289.

[2019-10-18 21:52] #247 closed

[2019-10-19 01:53] vilmacs opened #291 "Unable to use variable for value of shared_vpc parameter"
I want to supply the shared vpc host project id as a variable reference:

  shared_vpc         = "${module.network-services-host.project_id}"

Yet this isn't possible and produces the error:

  on .terraform/modules/analytics-service-1/modules/core_project_factory/main.tf line 177, in resource "google_compute_shared_vpc_service_project" "shared_vpc_attachment":
 177:   count = var.shared_vpc_enabl

[2019-10-19 03:13] vilmacs commented on #291
i guess the error message makes it clear what the work around is.
thanks

[2019-10-19 03:13] #291 closed

[2019-10-19 18:54] ideasculptor opened #292 "shared_vpc example directly references master branch, unnecessarily"
The comment says it is necessary until https://github.com/terraform-google-modules/terraform-google-network/pull/47 is merged, but that pull request has been merged.

I just tested, using the latest release (~> 1.4.0), and had no problems, but I don't really know how the bug that it was preventing manifested.

PR to follow, but I don't know how to properly test it.

[2019-10-21 17:21] #292 closed

[2019-10-21 19:01] morgante commented on #291
@vilmacs FYI you can also use [Shared VPC](https://github.com/terraform-google-modules/terraform-google-project-factory/tree/master/modules/shared_vpc) submodule to solve for this case as it *does* allow referencing a shared VPC.

[2019-10-21 19:33] #282 closed

[2019-10-26 23:29] bg-master opened #296 "Error deleting default network"
I am getting the following error message when trying to create a simple project example.
[code]

[2019-10-27 23:56] ideasculptor opened #297 "running the lint test errors out on .gitignore'd files"
test/source.sh gets generated by the integration tests, but then that file causes the lint test to fail because it lacks the correct headers.  It is listed in test/.gitignore. Remove the file to get tests to pass, but it would be better to just ignore it.

[2019-10-28 00:18] morgante commented on #297
Good catch, we should add it to the ignored file: https://github.com/GoogleCloudPlatform/cloud-foundation-toolkit/blob/master/infra/build/developer-tools/build/scripts/task_helper_functions.sh#L59

[2019-10-28 00:21] morgante commented on #296
Can you confirm your version and share your config? `terraform version`

[2019-10-28 12:42] JulienOrain opened #300 "Empty list on activate_apis result in error"
Hi,

First of all, I would like to thank you for this project !

I am currently trying to set up a project for which I do not want any API activated by default.

I set up variables as follow :
[code]

When I run `terraform plan`, I got the following error :

[code]

If my understanding is ok, the error seems to come from the fact that we tried to loop on an empty list.

Thanks !

[2019-10-28 14:32] ideasculptor commented on #297
Woah, what the heck is that repo?!  Are the terraform-google-modules mostly translations of those CFT templates to terraform code?  I've been looking for examples more significant than those found in the google-cloud-fabric repo which actually string all of the modules together in a coherent way, while building my own reference architecture.  I've only spent a couple of minutes digging through tha

[2019-10-28 14:36] morgante commented on #297
Essentially, yes. They're human-translated/managed but we try to have DM templates and Terraform modules provide similar functionality.

The other key thing in that repo is the developer-tools image which is used for CI builds.

Right now, the Fabric repo is probably the best reference. We're hoping to publish some more e2e examples this quarter though.

[2019-10-28 15:27] morgante commented on #300
Currently I don't think we support the ability to activate no APIs.

Can I ask more about your use case? Even if we made this particular aspect work, it's likely that other module functionality would break if *no* APIs are activated.

[2019-10-28 16:49] JulienOrain commented on #300
Got your point !

My use case here is to create a gcp project as an empty shell. I admit that the use case is border line...
However, as it used to work with version `3.*.*` of `terraform-google-project-factory`, I was a bit surprised when the migration to `4.*.*` brought this issue out.

My workaround for now is to activate "compute.googleapis.com" by default.

[2019-10-28 21:29] bg-master commented on #296
I can't reproduce the error, I thought I had found a workaround by setting `auto_create_network = false` explicitly in the configuration. But even after removing this directive, the deployment continues to work properly (Terraform v0.12.12 on CentOS 7).

[2019-10-28 21:29] #296 closed

[2019-10-29 01:13] ideasculptor commented on #297
I suspect this doesn't get fixed until a new release of the module happens (or maybe the cft repo needs a release), but it should go away sooner rather than later now that the fix is merged.

[2019-10-29 01:15] ideasculptor commented on #283
I'm sure I'll end up bootstrapping a new development environment eventually, but until i do, it is a headache to verify this issue, so I'm closing it. I'll re-open if it shows up again.

[2019-10-29 01:15] #283 closed

[2019-10-29 02:29] #287 closed

[2019-10-29 02:35] morgante commented on #297
Specifically, it'll get fixed once the tool image [here](https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/build/lint.cloudbuild.yaml#L24) and [here](https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/Makefile#L21) are updated to the latest version (`0.4.7`).

[2019-10-31 18:42] ideasculptor opened #305 "updating to latest version (project_services fix) CRASHES terraform"
For projects that had active resources, re-applying with the latest module works fine, because it would error out on deleting at least one or two of the APIs when exchanging project_services for project_service in a loop.  Simply running terraform state rm on entries in question and then re-running the apply cleaned up the mess.

However, I had one project that was created with the older module, t

[2019-10-31 18:46] ideasculptor commented on #305
The really fun part is that even running `terragrunt destroy` doesn't fix it - it crashes, too.

[2019-10-31 19:07] morgante commented on #305
A Terraform crash is likely beyond the scope of the module - that should "never" happen from resources. Can you file an issue on the provider? https://github.com/terraform-providers/terraform-provider-google/issues

As a fix, you might want to try manually activating *only* the APIs with this command:

- `terraform apply -refresh=false -target=module.project.module.project-factory.module. project_

[2019-10-31 19:18] ideasculptor commented on #305
I tried that.  I tried manually enabling all of the APIs it used to have.  I made sure no trace of the old project_services resource was still in the state file - terraform crashed, regardless - on both apply and delete.  I eventually had to manually delete the project, delete the state, and apply from scratch in order to get anything to work.

I suspect that the module needs a migration strategy

[2019-10-31 20:10] Rycieos commented on #300
This was an artifact of the changes I made here. I agree, it used to work in 3.X. My mistake, I'll open a PR to fix.

[2019-11-01 00:17] ideasculptor opened #306 "modules only allow single shared_vpc"
I have a service-project which will need to use the network of several host projects - one for each environment that the service-project resources will run within.

All of the project-factory modules assume just a single host vpc, and only set up the iam resources, especially the kubernetes-specific iam resources, for a single host project.

If, as I did, you then assume that we should not use the

[2019-11-01 05:39] ludoo opened #308 "Output dependency in `fabric-project` broken in #284"
PR #284 that moved project services handling to a submodule broke `fabric-project` outputs, which depended on the services resource. That PR was never sent for review to a fabric project owner.

I will send a PR shortly to: a) revert the fabric project submodule to use its own resources without depending on a submodule, and b) add ourselves to CODEOWNERS for the submodule so we're looped in in all

[2019-11-01 06:44] morgante commented on #306
GCP doesn't support associating a service project with multiple host projects: "each service project can only be attached to a single host project" from https://cloud.google.com/vpc/docs/shared-vpc

[2019-11-01 06:44] #306 closed

[2019-11-04 15:06] aaron-lane commented on #308
Fixed by #309.

[2019-11-04 15:06] #308 closed

[2019-11-04 15:26] aaron-lane commented on #297
Fixed by #410.

[2019-11-05 19:08] cilindrox commented on #277
You can use the `depriviledge` (sic) role or `keep` @davi5e

[2019-11-05 19:10] morgante commented on #277
Can you share your Terraform config details and the info on why you think this is the culprit?

You can certainly use the argument to override Project Factory behavior, but we really strive to make this GKE module *not* require the default Service Account so I'd like to know if there's a bug we haven't seen.

[2019-11-05 19:41] davi5e commented on #277
Found a way to make it work using `default_service_account = "keep"`.

I just don't understand why disable this behavior. Just to avoid drama, it's an honest question: what are the benefits to this approach? Security ones?

I noticed a lot of modules I use have an option to try another security account in case the default they use don't work and I can assume the reason would reside in the answer t

[2019-11-05 20:00] morgante commented on #277
Security and explicit control. Instead of depending on a nebulous non-Terraform managed Service Account, it's much more preferable to have a separate Service Account (managed via TF) for each service/cluster.

One of the implications of using the default service account is that any workload running in your nodes automatically has full editor access on your project. This isn't a secure default.

[2019-11-06 04:07] #300 closed

[2019-11-06 08:19] JulienOrain commented on #300
Thanks guys !

[2019-11-06 16:58] cilindrox commented on #277
@morgante dunno if it helps, but it's pretty standard use-case:

[code]

[2019-11-14 15:09] Rycieos opened #313 "Deletion of Default Compute Service Account prevents all VM usage"
The default for the default compute service account is to delete it on project creation. This will cause many problems if the Compute API is used, preventing any VMs from being created. Obviously, we could change our setting to "keep" instead, but we have had many teams not realize that the default is delete and not make that change. Since the service account can only be undeleted within 30 days,

[2019-11-14 17:12] morgante commented on #313
There is no requirement to use the default compute Service Account to create VMs. It'd be more accurate to say you cannot create any VMs with the default account if it's deleted.

You absolutely still can create VMs, but you have to choose and specify an explicit Service Account for them. This is our best practice, as each VM should ideally have a service account specific to its purpose, instead o

[2019-11-14 17:48] Rycieos commented on #313
You are correct in that "depriviledge" and "disable" would get to the same end (the account doesn't work), but by depriviledging more work is required to restore the account to its initial state, especially if the user doesn't know what permissions it had before or needs now. I'm not looking to replace the deprivilege option, but to add another that fits our needs better.

I agree that not all VM

[2019-11-14 18:05] morgante commented on #313
I don't know what you mean by "disable." There's no such thing as "disabling" a service account. You can delete it (as we do by default) or remove its permissions (as depriviledge does).

When creating a VM in the console, you can select a service account to use.

We want to keep best practices for defaults. If you require edge scenarios, that's why we have alternative options.

[2019-11-14 18:14] Rycieos commented on #313
There is, see [disabling a service account](https://cloud.google.com/iam/docs/creating-managing-service-accounts#disabling). Google even recommends it:

It's not only for custom service accounts; I was able to disable the default compute service account in my projects.

So are you open to a contribution to add an option for disabling the service account instead?

[2019-11-14 18:15] morgante commented on #313
Interesting! You learn something new every day—I'd never heard seen this before. Definitely happy to look at a PR which adds this as an option (and potentially even becoming the default).

[2019-11-18 18:47] aaron-lane commented on #111
We will need to alter the test setup to support a long-lived service account, or identify an alternative approach to satisfy the [authentication requirements of the G Suite provider](https://github.com/DeviaVir/terraform-provider-gsuite#using-a-service-account).

[2019-11-18 21:33] mengesb opened #316 "setup-sa.sh: line 136: FOLDER_ID: unbound variable"
Getting an error when trying to execute 'setup-sa' script.

[code]

https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/helpers/setup-sa.sh#L136

[2019-11-19 00:52] morgante commented on #111
Here's how I suggest we tackle this:
- In the [test-org](https://github.com/GoogleCloudPlatform/cloud-foundation-toolkit/tree/master/infra/terraform/test-org), create a new folder+project for project-factory that includes creating a service account and applies the correct permissions, roughly mirroring the existing `setup/` content
- In the `setup/` stage, remove the project creation and and simpl

[2019-11-19 14:43] aaron-lane commented on #316
Fixed by #317.

[2019-11-19 14:43] #316 closed

[2019-11-19 14:48] aaron-lane commented on #111
I think that sounds like a good approach. I suggest that we maintain the setup configuration so contributors can continue to easily create a test environment for the minimal suite, and push the exceptional logic in to the build configuration file. May be add a separate "full-ci-setup" configuration which does what you propose.

[2019-11-19 15:59] #313 closed

[2019-11-19 16:18] morgante commented on #111
Sure, we could have a separate folder which behaves similarly but is only used for CI.

[2019-11-21 12:47] paulpalamarchuk commented on #216
I've made some test, and discovered that core module depends on org-level permissions:
[code]
That happens because of calling [`gsuite_group` module](https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/main.tf#L21) from core-module. That has [data org resource](https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/modules/gsui

[2019-11-27 15:04] komasoftware opened #323 "Google Cloud Build : delete-default-gateway-routes.sh: not found"
I am running terraform init, plan, apply, destroy for every release of a in-house module using GCP Cloud Build as you can see from below cloudbuild.yaml file.
This was working fine until I started running into below issue where **the default gateway deletion script is not found** when running **terraform apply**. This only happens when running on Cloud Build, I cannot reproduce the problem on my l

[2019-11-27 15:26] komasoftware commented on #323
Not part of google-project-factory. Moving this issue to google-network module.

[2019-11-27 15:26] #323 closed

[2019-11-28 20:16] aaron-lane commented on #227
- [ ] `examples/app_engine/main.tf` should be updated to create a project with an instance of `../..` and then pass the project ID to an instance of `../../modules/app_engine`.
- [ ] The G Suite provider should be removed from the example configuration.
- [ ] The hard-coded reference to the service account key should be removed from the example configuration.
- [ ] `location_id` should be hard-cod

[2019-11-28 20:25] aaron-lane opened #324 "Update app_engine.feature_settings type and default"
`modules/app_engine/variables.tf` currently defines `feature_settings` as a generic `list` with a default of `[{ enabled = true }]`. The type should be updated to `list(object{ split_health_checks = bool })` since `feature_settings` can only be defined once on `google_app_engine_application` and `split_health_checks` is the only valid argument. The default should be updated to `{ split_health_chec

[2019-11-29 16:31] bharathkkb commented on #227
@aaron-lane I can pick this up if not assigned yet.

[2019-11-29 16:32] bharathkkb commented on #324
@aaron-lane I can pick this up with #227

[2019-11-29 16:34] aaron-lane commented on #227
Sure thing!

[2019-11-29 20:49] aaron-lane commented on #251
This is no longer relevant since we have the project cleanup function.

[2019-11-29 20:49] #251 closed

[2019-11-29 21:00] aaron-lane commented on #260
I suggest that we consider how to re-architect the existing modules to promote composition by the calling configurations to obviate the motivation for this.

[2019-11-29 21:01] aaron-lane commented on #250
This was made obsolete by the new developer tools image.

[2019-11-29 21:01] #250 closed

[2019-11-29 21:39] aaron-lane commented on #138
We should ensure that at least the `core_project_factory` submodule can be used with an imported project. If the root module, `shared_vpc` submodule, and `gsuite_enabled` submodules can be used with an imported project, that will be a bonus.

[2019-11-29 21:39] #265 closed

[2019-12-01 01:38] morgante commented on #260
Agreed, but I think it's overall low-priority.

[2019-12-02 15:36] aaron-lane opened #327 "Automatically generate CHANGELOG"
Based on https://github.com/terraform-google-modules/terraform-google-project-factory/pull/156

[2019-12-02 15:37] aaron-lane commented on #327
@thefirstofthe300 FYI.

[2019-12-02 16:17] aaron-lane commented on #289
Fixed by #290

[2019-12-02 19:02] morgante commented on #289
An alternative approach, as discussed in #290, would be to split the dependency install into a separate `local-exec` which can be (optionally) disabled and pre-installed.

[2019-12-03 14:23] aaron-lane commented on #297
Fixed by #312

[2019-12-03 14:23] #297 closed

[2019-12-05 12:40] SKozlovsky opened #328 "Shared VPC host and service projects cannot be created by single terraform run"
The output from the first module cannot be used as input for the second
Next code fails with a lot of errors:
[code]

Errors :
[code]

[2019-12-05 14:39] aaron-lane commented on #279
If the change will be disruptive to active services then we should include a migration script.

[2019-12-05 15:20] #88 closed

[2019-12-05 16:00] morgante commented on #328
@SKozlovsky You can use the shared VPC submodule to use a dynamic reference:

[code]

[2019-12-05 16:00] #328 closed

[2019-12-05 16:26] morgante commented on #279
This has already been released in October: https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/CHANGELOG.md#400---2019-10-21

[2019-12-05 16:26] #279 closed

[2019-12-05 16:27] morgante commented on #279
@taylorludwig Nothing to do here, please ignore.

[2019-12-09 20:20] adrian-gierakowski opened #329 "modify-service-account.sh fails with: ERROR: (gcloud.iam.service-accounts) Invalid choice: 'disable'."
[code]

this happened when ran with gcloud version 267.0.0
this was solved by running `gcloud components update`, which installed 272.0.0

the script should probably check version of gcloud and use beta/alpha call when appropriate or warn user about minimum required version

[2019-12-10 21:41] morgante opened #330 "Budget management"
Terraform now has a resource for [managing budgets](https://www.terraform.io/docs/providers/google/r/billing_budget.html). We should add support in Project Factory.

# Budget Submodule
We should create a budget submodule with the following inputs:
1. `billing_account`
2. `projects`
3. `display name` (default to `Budget for $projects[0]`)
4. `credit_types_treatment` (default to `INCLUDE_ALL_CREDITS

[2019-12-11 13:34] paulpalamarchuk commented on #138
@aaron-lane I've tested imports with main module, `core_project_factory` and `shared_vpc` submodules. Works fine.

[2019-12-11 19:49] morgante opened #333 "IAM issues"
In `test/setup` across all CFT modules, we are currently seeing issues with adding IAM grants.

Issues look something like this:
[code]

This is likely a combination of a problem with Google Provider 2.0's IAM batch handling and the new IAM handling of `deleted:` members. I am investigating further.

[2019-12-11 19:50] morgante commented on #333
The immediate quick fix is to pin examples and test/setup to version 2.11.

[2019-12-12 16:53] choonchernlim opened #334 "default_service_account: Typo on `depriviledge`"
It's not a big deal, but the `default_service_account` input variable accepts a typo value called `depriviledge`, which should be spelled as `deprivileged` or `deprivilege`. Thanks.

[2019-12-12 17:08] morgante commented on #334
Agreed, we should changed it to `deprivilege`.

This hasn't been fixed thus far because it is technically a breaking change. We should roll it into our next major release though.

[2019-12-13 17:09] #138 closed

[2019-12-13 20:08] morgante commented on #333
This will be fixed upstream here: https://github.com/terraform-providers/terraform-provider-google/issues/5107

[2019-12-13 20:08] #333 closed

[2019-12-13 20:33] marshallford opened #336 "gcloud executable requirement"
Hello,

I'd like to discuss the possibility of removing the requirement of having the `gcloud` cli available on the path to manipulate the default service account created within new projects. For those running TF from a laptop it might be reasonable to request that they install `gcloud`, but for folks using TFE or Terraform Cloud that may prove difficult.

Bottom line: Can `modify-service-account.

[2019-12-13 20:50] bbrouwer opened #337 "Confusing descriptions on project_id and random_project_id"
The descriptions in the documentation for `project_id` and `random_project_id` are confusing at best, and are probably incorrect. For how I understand what "mutually exclusive" means, I should specify either `project_id=somevalue` or `random_project_id=true`, but not both.

However, in looking at the code, I see no such restrictions. I can happily specify both, and end up with the project ID being

[2019-12-13 20:54] morgante commented on #337
You're right, this does look incorrect/confusing. Would you be interested in providing a PR? If not one of us can probably pick it up soon.

`project_id` will indeed default to `name` if provided (and unset).
`random_project_id` will simply add a random identifier to the `project_id`.

[2019-12-13 20:57] morgante commented on #336
Hi @marshallford, thanks for raising this.

I'm quite familiar with the pains of running gcloud in TFE or Terraform Cloud and agree we should find a solution.

We actually recently released a [gcloud](https://github.com/terraform-google-modules/terraform-google-gcloud) module which brings the gcloud sdk into a given environment for you (including TFE). We could potentially update the project-facto

[2019-12-13 22:55] morgante commented on #333
This fix is available now in the 2.20.1 version of the provider, we can now pin to `~> 2.20.1`.

[2019-12-14 01:28] choonchernlim opened #339 "Role binding still exists when default_service_account=delete"
When setting `default_service_account` to `delete`, it successfully deletes the default service account. However, the role binding still lingers around.

Here's output:-

[code]

Should the role binding for the default service account be removed too for consistency sake?

If so, it can be done by adding this one call to `modify-service-account.sh`:-

[code]

Here's the output when deprivileging be

[2019-12-16 16:03] aaron-lane commented on #329
Hi @adrian-gierakowski! I apologize for the frustrating experience. We do document in the [README  Requirements > Software section](https://github.com/terraform-google-modules/terraform-google-project-factory#software) that gcloud 269 or greater is required, but that could certainly be improved with a programmatic check as you have noted.

[2019-12-16 16:04] #329 closed

[2019-12-16 16:25] aaron-lane commented on #339
Hi @choonchernlim. Thanks for identifying this issue! I think it is reasonable to clear the bindings associated with the deleted service account.

[2019-12-16 16:26] morgante commented on #339
@choonchernlim We'd be happy to look at a PR fixing this the way you suggested.

[2019-12-16 16:34] marshallford commented on #336
Certainly a step in the right direction. Is it fair to say that the `gcloud` cli is required because terraform doesn't allow for resources to be defined as empty/removed/disabled? It appears the only way to communicate with terraform that a resource shouldn't exist is with a `terraform destroy` command.

General terraform question: Is this snippet theoretically possible?

[code]

[2019-12-16 17:10] morgante commented on #336
Correct. Unfortunately Terraform doesn't have any mechanism for declaring that a certain resource should be deleted.

[2019-12-16 18:02] #227 closed

[2019-12-16 18:06] aaron-lane commented on #324
@bharathkkb I incorrectly specified a type of `list(object{ split_health_checks = bool })` when it should have been `object{ split_health_checks = bool}` as `feature_settings` can only be specified once. Can you make the necessary change?

[2019-12-17 18:28] #339 closed

[2019-12-17 18:54] taylorludwig opened #342 "Precondition no longer works"
I came across PR #304  while working on #336 to add add a different gcloud path to the precondition

But it looks like the precondition hasn't worked since PR #304 and only passed tests since the provisioner steps is set as `on_failure = "continue"`

Looking at the [last test results](https://console.cloud.google.com/cloud-build/builds/53622202-f499-4970-9fa7-6ed51d45a1d3?project=cloud-foundation-

[2019-12-17 23:52] mikhail-khodorovskiy opened #344 "Dependent services issue."
[code]

Results in an errors:
[code]

If I remove big query api, works fine.  If I add the expected services into the template, still does not work.

[2019-12-17 23:55] morgante commented on #344
You'll want to switch to `bigquery.googleapis.com` (see https://github.com/GoogleCloudPlatform/magic-modules/pull/2626).

[2019-12-17 23:55] #344 closed

[2019-12-18 16:10] #334 closed

[2019-12-18 20:45] BobcatProgrammer opened #346 "Breaking Change Required Providers Version"
Hi team,

as part of the PR #335 the `required_providers` for `google` was set to `"~>2.1`. This is a breaking change for me. I had it working with `~>3.0`. This was never mentioned in the changelog and I have now wasted hours finding the root cause of this as the module updated to 6.1.0 today.
The commit changing this was https://github.com/terraform-google-modules/terraform-google-project-factor

[2019-12-18 20:48] aaron-lane commented on #346
Hi @BobcatProgrammer. I apologize for the frustrating experience. However, this is not a breaking change as the supported providers have been [documented in the README](https://github.com/terraform-google-modules/terraform-google-project-factory/commit/3a9c21389fc2f827f8cfd9a9ba6ec98e5c95be2d) for about 10 months. We have just recently moved to enforce that through configuration.

[2019-12-18 20:50] morgante commented on #346
That being said, we can and should test whether the provider constraint could be relaxed to support 3.x as well.

[2019-12-18 21:29] BobcatProgrammer commented on #346
@aaron-lane must have overlooked that :) . And its not 100% correct. As `~> 2.1` allows all versions `2.x`

@morgante 3.x support would be greatly appreciated. If it helps, in my (granted quite basic) setup it works without issues

[2019-12-19 15:15] bbrouwer opened #347 "Shorten length of project IDs"
Since the max length of a project ID is 30 characters, it can get tricky to come up with meaningful names with common Google recommendations. Google often recommends a project name something like this (when using random IDs):

`gcp-company-xxx-env-1234`

In that example, I only have 9 characters to play with.

Could we make 2 changes to help with the situation where we're using `random_project_id`

[2019-12-23 19:33] Rycieos opened #349 ""Warning: Quoted keywords are deprecated" on null_resource provisioner"
When planning with this module, the following warning is printed 4 times:
[code]

The errors point to these 4 lines:

https://github.com/terraform-google-modules/terraform-google-project-factory/blob/d9fa967186e07d4800cac7e385b9cbdd165c0be9/modules/core_project_factory/main.tf#L81

https://github.com/terraform-google-modules/terraform-google-project-factory/blob/d9fa967186e07d4800cac7e385b9cbdd165

[2019-12-27 16:28] surbas commented on #346
Will add that I also got bitten by this. While it was in the readme, i didn't know about this till after everything was init using ~>3.0.0.beta.1. I bet there are a few of out there in a broken state now.

I will also vouch for at least my stuff working on at least 3.0.0. @morgante happy to do grunt work, if guided to a procedure to use to test against the version 3 providers.

The solution if you

[2019-12-27 17:03] morgante commented on #346
Essentially all we have to do to upgrade support to 3.0.0:
1. Review the [upgrade guide](https://www.terraform.io/docs/providers/google/guides/version_3_upgrade.html) to check if there are any features we're using.
2. Issue a PR where we change the [required providers version](https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/modules/core_project_factory/vers

[2019-12-27 17:31] #336 closed

[2019-12-27 17:31] #342 closed

[2019-12-27 21:24] #346 closed

[2019-12-30 18:22] surbas commented on #346
Amazing thanks!

[2019-12-30 20:20] Rycieos opened #351 "Version 6.2.0 fails on precondition if no Python3"
New in version 6.2.0, in commit bdd1d94b3696e3c9a2c73e10465505ee2b728bc9, from PR #343, if either `pip3` or `python3` is not installed the build will fail.

[code]

These changes appear to have caused this:
https://github.com/terraform-google-modules/terraform-google-project-factory/commit/bdd1d94b3696e3c9a2c73e10465505ee2b728bc9#diff-d3740c193b3aa6f052c215e40f1a18ddL81
[code]
https://github.com/t

[2020-01-05 11:27] dmcgowandmc opened #352 "Disable automatic downloading of Cloud SDK"
I have been using a terraform docker container with Cloud SDK and supporting libraries added to the image to perform my deployments. This has worked well in the past allowing me to ensure all required binaries and libraries are in place before deployment. This allowed me to peg the versions exactly as desired and deployments were generally pretty quick.

However it seems since 6.2.0, project facto

[2020-01-06 16:46] morgante commented on #330
This is ready for someone to pick up. (@taylorludwig ?)

[2020-01-06 17:01] #337 closed

[2020-01-06 17:32] taylorludwig commented on #330
@morgante yep, I can take this on.

[2020-01-06 17:49] morgante commented on #352
Yes, I think this is a reasonable suggestion. I think it could be implemented by:
1. Adding a `skip_download` variable to the [gcloud](https://github.com/terraform-google-modules/terraform-google-gcloud) module
2. Exposing that variable in this module as well

[2020-01-08 09:34] NVolcz opened #355 "Make prefix optional or document why it is a good practice"
It is not clear whenever prefixing project names is a common good practice or a bug. I have found some references that indicates that this previously was a relatively common but I cannot find any recent post about this being still being recommended. Let's document it in the FAQ (or somewhere else) if it still is a common practice.

[2020-01-08 14:21] morgante commented on #355
Can you clarify where you see this required?

It's encouraged to help with globally unique project IDs but not required.

[2020-01-08 14:36] NVolcz commented on #355
The input variable prefix in for the fabric project: https://github.com/terraform-google-modules/terraform-google-project-factory/tree/master/modules/fabric-project

[2020-01-08 14:39] morgante commented on #355
I see. Please just use the main project factory if you don't want to use prefixes.

The fabric project is a specialized prototyping use case not recommended for everyone.

[2020-01-08 20:14] NVolcz commented on #355
Thanks for the clarification!

[2020-01-09 01:23] #327 closed

[2020-01-09 01:27] #330 closed

[2020-01-09 01:46] morgante commented on #349
Looks like a simple fix, happy to accept a PR!

[2020-01-09 01:47] morgante commented on #351
This does indeed look like a regression. We should fix this and issue a patch release. @taylorludwig Can you take a look?

[2020-01-09 01:51] #355 closed

[2020-01-09 03:18] taylorludwig commented on #351
Yeah makes sense. Even the [script itself](https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/modules/core_project_factory/scripts/preconditions/preconditions.py#L31) can fail with just a warning

Looks like prior to https://github.com/terraform-google-modules/terraform-google-project-factory/pull/304 there was a [preconditions.sh](https://github.com/terraform

[2020-01-09 09:09] anagas commented on #351
@taylorludwig the attribute on_failure is deprecated i would not add this again.

[2020-01-09 12:05] cedriclevarlet opened #356 "Preconditions fail on windows due to wrongly parsed argument"
**Operating system:** Windows 10
**Terminal:** command prompt and powershell
**Version:** >=6.2.0

**Issue:**
The precondition_command encapsulates the provided arguments by double quotes. This seems to be incorrectly processed by precondition.py's argparse as the argument_type under BillingAccount method receives a string including the double quotes which then fails as it does not match the regex

[2020-01-09 13:50] Rycieos commented on #351
@anagas source for that? Are you misundd\erstanding this part of the CHANGELOG?
https://github.com/hashicorp/terraform/blob/master/CHANGELOG.md#user-content-01214-november-13-2019

[2020-01-09 18:44] taylorludwig commented on #351
https://github.com/terraform-google-modules/terraform-google-project-factory/pull/357 is up

I set them as `on_failure = continue` (no quotes) as that is deprecated in 0.12 as you linked to. Thanks!

[2020-01-09 18:54] taylorludwig commented on #356
Does it still work in linux if we remove the quotes?  If the quotes make it through to the python argparse in windows but not linux, we could update the python script to work wither either format.

[2020-01-09 21:01] bbrouwer commented on #347
Would this happen if I submitted a PR?

[2020-01-09 21:40] mikebridge opened #358 "terraform init gives "Error: Failed to download module""
I have the following configuration, and it is giving me the error below.  I'm confused, because this was working before:

[code]

[code]

`/tmp` is writable.

[2020-01-09 21:41] morgante commented on #358
This is an upstream issue, please upgrade to Terraform v0.12.19: https://github.com/hashicorp/terraform/issues/23721

[2020-01-09 21:41] #358 closed

[2020-01-09 21:52] #351 closed

[2020-01-09 22:05] Rycieos commented on #349
It looks like thanks to #343 and now #357, there are no more references to `"continue"`, so I think there is nothing left to do.

[2020-01-09 22:05] #349 closed

[2020-01-09 22:30] morgante commented on #347
Sure, I'd be happy to look at a PR for this (assuming that `_suffix` is optional).

[2020-01-10 09:24] Deepak275 opened #359 "Failed to download the project factory module"
Hi Team,

Deepak here. Need your help to check this error we start getting from today.. Is there anything changed ? We were using 3.0.0, but as it start failing i tried 3.1.0 and the latest one too, but got the same error. Please help 🙏

[2020-01-10 09:57] Deepak275 commented on #359
getting this

`$ wget https://api.github.com/repos/terraform-google-modules/terraform-google-project-factory/tarball/v3.1.0//*?archive=tar.gz
Warning: wildcards not supported in HTTP.
--2020-01-10 15:24:39--  https://api.github.com/repos/terraform-google-modules/terraform-google-project-factory/tarball/v3.1.0//*?archive=tar.gz
Resolving api.github.com (api.github.com)... 13.233.76.15
Connecting to

[2020-01-10 10:12] ibacalu commented on #359
try replacing with actual git https url. That should fix it.

[2020-01-10 15:05] bharathkkb commented on #359
I ran into this and I think this maybe a terraform bug. I was able to solve it by upgrading to v0.12.19.
Here is the issue on terraform https://github.com/hashicorp/terraform/issues/23721

[2020-01-11 11:22] Deepak275 commented on #359
@bharathkkb This was because terraform registry was down for more than 16 hours, this is the message i saw in their website. Yes They mentioned that upgrading to **v0.12.19.** will solve this issue.

[2020-01-11 11:22] Deepak275 commented on #359
It's up now, so closing the issue.

[2020-01-11 11:24] #359 closed

[2020-01-11 15:21] cedriclv commented on #356
Sorry for not answering earlier; I was trying to understand a bit more what was happening behind the scene.

Running the precondition.py file directly and passing the values as intended does not produce the error. As such I wanted to isolate the issue as much as possible and found it to be tied to the local-exec provisioner.

test.py
[code]

main.tf
[code]

terraform apply:
[code]

This should the

[2020-01-13 01:06] morgante commented on #356
Thanks for investigating this! I agree that the best fix (for now) would be to simply strip the quotes automatically within Python and I'd be happy to accept a PR adding that.

[2020-01-15 01:41] shraddhajain01 opened #360 "precondition fails on ubuntu"
I tried to create a simple project using "simple_project" example, it is failing at 'terraform apply' with below error:

Error: Error running command '/XXX/XXX/terraform-google-project-factory/examples/simple_project/.terraform/modules/project-factory/modules/core_project_factory/scripts/preconditions/requirements.txt': exec: "pip3": executable file not found in $PATH. Output:

[2020-01-15 22:39] morgante commented on #360
You need to have Python or pip3 installed to let the precondition script work.

You can also upgrade to the 7.x version which will allow the precondition script to fail without preventing `apply` entirely.

[2020-01-17 07:53] shraddhajain01 commented on #360
Got it. It worked by installing pip, although python was already installed on the machine. Thank you.

[2020-01-17 07:53] #360 closed

[2020-01-29 03:15] rjerrems commented on #352
Not sure if this will be solved by the same `skip_download` flag, but since version 6.2.* onwards every time you run an apply, terraform needs to recreate these resources even when gcloud is already cached locally

[code]
Should we address as a part of this issue or shall I raise a new one?

[2020-01-29 18:31] vlantier opened #362 "Can't create project with Shared VPC in other project"
My code:
[code]
As we can see I'm using the `shared_vpc` submodule as mentioned in other issues but the erros are way more enormous.

[code]

[2020-01-29 18:45] morgante commented on #362
Sorry for the issue, looks like the issue is with:

[code]

As a workaround, could you try commenting out the project and creating the subnet first then creating the project?

[2020-01-29 18:58] morgante commented on #352
@rjerrems I think that's a different issue, let's track it separately.

[2020-01-29 21:30] vlantier commented on #362
The workaround worked. Thanks!
We'll be waiting for the fix

[2020-01-29 23:22] rjerrems opened #363 "Project factory always has changes on apply since 6.2.*"
G'day Guys,

Since version 6.2.* onwards every time you run an apply, terraform needs to recreate these resources when gcloud has not been cached locally yet. This means that if you run the same code with the same state on two different machines or CI jobs, terraform will there there are changes.

[code]

It would be preferable to prevent these resources from always having to be updated in additio

[2020-01-29 23:22] rjerrems commented on #352
No problem @morgante - I have create #363

[2020-01-30 01:11] adrian-gierakowski commented on #362
@morgante I've encountered this problem today for the second time. Last time I've worked around it by doing a targeted apply (as you suggested here), but this time this looked into the code and got it working by removing `compact` from all occurrences of [`compact(var.shared_vpc_subnets)`](https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/modules/core_project

[2020-01-30 02:37] rjerrems commented on #362
Hi @adrian-gierakowski - I am currently looking at a fix for this now and have discussed the validation with @morgante . At this point in time we are looking to remove that code as it complicates the module and only really has the benefit of surfacing a failure that would occur anyway a little earlier

[2020-01-30 13:24] morgante opened #366 "Reintroduce subnet validation"
In #365, we had to remove subnet validation. At some point, it would be good to restore this validation if possible (using an alternative method).

[2020-01-30 13:28] #362 closed

[2020-01-30 16:46] mattcary commented on #362
+1

I have the same problem when setting shared_vpc from another project:

module "project_hmt_prod_cluster_service" {
  source                  = "terraform-google-modules/project-factory/google"
  version                 = "~> 7.0.0"
.... snip ...
### This line is the problem:
  shared_vpc              = module.project_hmt_prod_cluster_host_prod.project_id
}

I guess `count` and `for_each` are j

[2020-01-30 16:51] morgante commented on #362
@mattcary Your use case can be solved by using the shared_vpc submodule:

[code]

[2020-01-30 17:14] mattcary commented on #362
That works!

Thanks for the tip.

[2020-01-30 18:12] morgante commented on #363
We will need to update the gcloud module to remove the `always` triggers and instead only run when the `run_command` changes.

[2020-02-05 16:23] SprintCT opened #370 "how to create service account for project creation using this module"
Hi,

I unable to understand how to create Service account at org level in GCP to create the folder/project creation to working on this module. As per module i have to place file the credential path. Since i unable to create a service i unable to provide it.
Kindly assist me on this.

Example:
I got Admin access for org level. And i have created a member (not service account) and provide access to

[2020-02-05 17:20] morgante commented on #370
As I understand it, your personal user account has admin access. In that case, you can run `gcloud auth application-default login` to authenticate Terraform and this module, as per the [Terraform docs](https://www.terraform.io/docs/providers/google/guides/provider_reference.html#credentials-1).

[2020-02-05 17:20] #370 closed

[2020-02-06 11:29] SprintCT commented on #370
I want to know how i need to parse this value in pipeline as code automation, I didnt use my desktop use this terraform module, It will run in pipeline as code, so is there any way to create service account

[2020-02-06 12:02] michaeldeman commented on #370
Best practices dictate that key management is done separately from terraform & provisioning itself.
If you have your bootstrap/seed project setup already, then inside the `helpers` folder you can run `setup-sa.sh` to create the service account.  After that, you will want to access the cloud console from your web browser to generate a key pair and download the private key for installation into your

[2020-02-06 23:11] kuwas opened #371 "BUG > Cyclic dependencies in the gcloud_delete internal module"
# Description

There are cyclic dependencies in the `gcloud_delete` internal module

## Current Behavior

[code]

## Expected Behavior

* `terraform destroy` should complete without any issues

## Steps to Reproduce

* Provision a project using this module
  * Make sure the deletion of default service account is enabled
* Attempt to do a `terraform destroy`

## Additional Details

* Platform: Terr

[2020-02-07 21:40] umairidris opened #372 "Preconditions doesn't use the right project id"
module "project" {
  source  = "terraform-google-modules/project-factory/google"
  version = "~> 6.0"

  name                = "foo"
  project_id          = "foo"
  org_id              = "123"
  billing_account     = "000"
}

I expect the preconditions script to check project foo. Instead it is using the project set in gcloud (checked with `gcloud config get-value project`).

I get the following e

[2020-02-07 21:53] umairidris opened #373 "Null resources are an anti-pattern"
The preconditions script tries to preventitively check for pre-requisites to avoid running into errors around permissions, unenabled apis, etc.

However, this is an anti-pattern in Terraform. First, if a user does not have access to a resource or an API is not enabled, then the apply command will fail and the GCP api will return a clear error indicating so. This is how every resource and vast majo

[2020-02-07 21:58] morgante commented on #373
I'm happy to have a discussion on this, but please do some background research on the many failures which have happened before.

See these issues to start: https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/docs/TROUBLESHOOTING.md#common-issues

Terraform will *not* fail cleanly in cases where preconditions are not met. You can easily be left in a catastrophic

[2020-02-07 22:03] morgante commented on #372
This isn't quite what's going on and this is exactly why we *have* the preconditions script. If you had attempted to proceed with project creation, it would fail.

First of all, the point of project factory is to *create* project `foo`. So of course we can't check APIs on project `foo` since it doesn't exist yet.

But then why are we checking APIs at all, you might ask?

Because the APIs need to b

[2020-02-07 23:32] umairidris commented on #372
Following up after offline discussion:
- This check is useful when the module is being run by a service account as the service account's project might not have the API enabled
- When running as local user the default gcloud project is used

I was running as option 2 so my project creation would have succeeded. Is there a way for the precondition script to know I am not a service account? I guess a

[2020-02-07 23:42] morgante commented on #372
I think the ideal thing would be for us to check the actual project where your credentials are coming from, but I'm not sure if that's possible.

[2020-02-07 23:54] umairidris commented on #373
Following up after offline discussion:
It would be ideal if the google_project resource was able to use partial state on creation to get around a project only partially being created. If that is possible then preconditions script would no longer be needed. Need to follow up with provider team on this.

If partial state on creation is not possible then the next best alternative is to move as many c

[2020-02-08 02:29] kuwas commented on #373
I'm also of the belief that these `gcloud` cli and python calls causes more problems than they solve. Almost every time I run into an issue with the `project-factory` or `kubernetes-engine` modules, during create or destroy, its because of these null_resource local-execs.

It would make a lot more sense to add additional code into `terraform-google-provider` to solve these gaps in functionality. T

[2020-02-08 03:34] umairidris commented on #373
Agreed @kuwas. After discussing offline the current script is important in preventing irrecoverable states but hopefully we can resolve this in the provider. I have begun engaging the provider team on internal forums around this.

cc @danahoffman for posterity

By gcloud I am guessing you mean the calls that get made to disable/delete the default compute engine service account? It is useful but I

[2020-02-10 01:42] rayuduc opened #375 "Gcloud: command not found for delete default service account"
Hello,
 Am trying to create GCP projects and delete default service accounts using the terraform-google-project-factory getting gcloud command not found we are using terraform enterprise.
provider version: google-beta
Terraform version: 0.12.10
Do we need to set any ENV args to install gcloud CLI from terraform env variables ?
Can you please suggest to fix this issue ?

module.project-test-pretest

[2020-02-10 03:03] morgante commented on #375
What module version are you using?

[2020-02-10 04:48] rayuduc commented on #375
Hi @morgante,
 I think 3.0 is the module version. Am not sure if this right file README.md to look for module version.
===================
## Upgrading

The current version is 3.X. The following guides are available to assist with upgrades:

- [0.X -> 1.0](./docs/upgrading_to_project_factory_v1.0.md)
- [1.X -> 2.0](./docs/upgrading_to_project_factory_v2.0.md)

## Usage

There are multiple examples

[2020-02-10 07:42] morgante commented on #375
As per the [changelog](https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/CHANGELOG.md), the latest version is 7.0. Please update to the latest version and see if that fixes your issue.

[2020-02-10 20:32] rayuduc commented on #375
Hi Morgante,
 We have upgraded terraform module version to 6, Since 7.0 not yet release and "gcloud command not found issue" got it fixed . And we are seeing project service is destroying and recreating, Is there anyway to avoid api's destruction ?

# module.project-test-pretest2.module.project-factory.null_resource.shared_vpc_subnet_invalid_name[0] will be destroyed
  - resource "null_resource" "

[2020-02-10 20:59] morgante commented on #375
You can use the update script/tool provided here: https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/docs/upgrading_to_project_factory_v4.0.md

On another note, please remember to surround any copied output with ``` blocks to ensure it shows up correctly on GitHub.

[2020-02-11 19:52] rayuduc commented on #375
Hi Morgante,
 Thanks for the steps, I have migrated the state as per doc, but on plan it shows some destruction and recreations and on apply got auto killed with below logs.
resource  gcloud_disable.null_resource.upgrade[0] taking almost 8m to finish, Is this expected ?, Am creating almost 15 projects and 4 project services on each.

[code]
Thanks!!

[2020-02-11 19:57] morgante commented on #375
It's expected that those might take a while since it downloads gcloud. The recreation is safe though.

[2020-02-11 23:00] rayuduc commented on #375
Got it. I tried destroy and recreated projects from scratch with google project module version 6. Getting below error for both --action='delete' --action='disable'
Do we need to create any custom default service account ?
I have GOOGLE_CREDENTIALS env variable to pass key to create projects
[code]

[2020-02-11 23:02] morgante commented on #375
How are you authenticating Terraform?

[2020-02-11 23:17] rayuduc commented on #375
service account from another project that has ability to create projects.
GOOGLE_CREDENTIALS

[2020-02-11 23:19] morgante commented on #373
We'd definitely prefer a non-gcloud approach, but unfortunately the Terraform resource module is ill-suited to many of the things we want to accomplish. The main cases we have where `gcloud` is needed:
1. Deleting a resource which was automatically created outside Terraform (ex. deleting the default SA)
2. Updating/editing a resource which was created outside Terraform (ex. updating DNS masq on Ku

[2020-02-11 23:21] morgante commented on #375
If you're exporting credentials (ex. `export GOOGLE_CREDENTIALS=/path/to/sa.json`) this should work. Can you confirm you're fully exporting them (instead of only passing them into the current environment?

[2020-02-11 23:24] rayuduc commented on #375
Hi Morgante,
Am passing them into current environment in terraform enterprise workspace.

[2020-02-11 23:34] morgante commented on #375
Hmm, I'm not sure what's happening then. That should be sufficient to be picked up by `gcloud`.

I'll do some testing on Terraform Cloud myself and see what could be the cause.

[2020-02-12 00:33] danawillow commented on #373
Both of those bullet points also have precedent in the provider. For deleting a resource created outside of Terraform, we have:
- [google_project.auto_create_network](https://www.terraform.io/docs/providers/google/r/google_project.html#auto_create_network)
- [google_container_cluster.remove_default_node_pool](https://www.terraform.io/docs/providers/google/r/container_cluster.html#remove_default_no

[2020-02-12 04:34] morgante commented on #373
@danawillow Thanks for chiming in, glad to hear you're open to adding these to the provider directly.

One question: do you think it's better to add these as parameters on an existing resource (ex. `google_project.auto_create_network`) or to create a new resource? Thus far the pattern seems to be to include this behavior in the parent resource, but I fear that ends up with very complicated resourc

[2020-02-12 13:50] jeremyrcampb opened #376 "Gcloud: command not found / decompress_destroy / upgrade_destroy"
project-factory has never been happy for me even after subsequent applies, it always wanted to re-create two resources.

When on 6.2.0, I just let it delete and recreate each apply.

When I moved to 7.0, it stopped deleting the resources successfully.

When I added config:

```default_service_account = "keep"```

Now it only wants to delete those resources, not re-create them.  But since the delet

[2020-02-12 17:47] rileykarson commented on #373
My concern with an approach like that is that it's hard to build the right dependency graph. It's natural to reference a `google_project` directly, but with fine-grained resources for these kinds of changes users would really want to reference `google_project_remove_default_service_account` to ensure that unmanaged children were deleted.

[2020-02-12 19:51] rayuduc commented on #375
Hi Morgante,
 Thanks you,
 This looks like  impersonate Service account not able to read from terraform configuration, I have explicitly given impersonate service account and it's able to pick up.
Where as Service account key its expecting path instead of actual key passing in env variable as GOOGLE_CREDENTIALS in modify-service-account.sh tried changing GOOGLE_APPLICATION_CREDENTIALS to GOOGLE_CR

[2020-02-12 21:05] morgante commented on #373
That's true that it is slightly less intuitive but presumably any such resources will have a `project_id` attribute as well. In fact, I might argue it's actually clearer to depend on `google_project_remove_default_service_account` if you're doing something which can only work after that's happened.

[2020-02-12 21:06] morgante commented on #375
`impersonate_service_account` is typically used for a user to impersonate a service account. If you're already providing service account credentials, could you try leaving that argument off?

[2020-02-12 21:27] rayuduc commented on #375
Got it thanks!!
without impersonate service account and am providing only credentials. Now both --credentials_path='' \ and --impersonate-service-account='' \  looks are empty values.

[code]

[2020-02-13 16:20] umairidris commented on #373
For longer term solutions is this something we can engage the core Terraform team in? I can't imagine multiple steps on creation being something unique to the google provider...

The problematic behaviour seems to be the 'tainting' of the resource when an error is returned in creation after the id is set. So as long as we can signal to Terraform after the id is set to stop tainting the resource on

[2020-02-13 21:27] danawillow commented on #373
If/when the core/sdk team allows providers to emit warnings to users instead of the only states being success and failure, then that would be another way of solving the problem. From my understanding, that's a long ways out though.

We've engaged them in the past for other issues wrt taint (https://github.com/hashicorp/terraform/issues/21652), but that specific issue ended up getting worked around

[2020-02-19 16:24] kunalkg11 commented on #371
@kuwas I tried to replicate the issue that you reported. I wasn't able to reproduce the reported issue. Can you provide more information about this issue?

Here is the config file that I used:

[code]

Terraform Version: ```v0.12.20```
Module Version: ```v7.0.0```

[2020-02-19 16:48] kuwas commented on #371
Try this workflow:

1. Apply once with the `default_service_account = "disable"`
2. Change `default_service_account = "disable"` to `default_service_account = "deprivilege"`
3. Apply it again

[2020-02-19 16:50] kuwas commented on #371
Theres also a warning that says this might happen when you run terraform apply

[code]

[2020-02-19 16:51] morgante commented on #371
FYI I think we'll want to fix this upstream in the gcloud module.

[2020-02-20 14:41] morgante commented on #376
What's the environment you're attempting to run from?

[2020-02-20 15:07] kunalkg11 commented on #371
@kuwas I have fixed the warning that you have mentioned above in the gcloud module. I have tested out your exact steps and everything is working as expected. Can you use the latest gcloud module and check if the issue is resolved?

[2020-02-20 17:32] kuwas commented on #371
[code]

Error: Attempt to get attribute from null value: This value is null, so it does not have any attributes.

[2020-02-20 17:34] jeremyrcampb commented on #376
I started on Terraform Cloud, but when I encountered these issues I brought state local and also reproduced on my desktop.

[2020-02-20 17:34] kuwas commented on #376
Seems to be related to: https://github.com/terraform-google-modules/terraform-google-gcloud/issues/27

[2020-02-20 17:55] morgante commented on #371
@kuwas Sorry about that, looks like the triggers don't get picked up for existing state.

Now that you have, has the error gone away?

[2020-02-20 18:50] kuwas commented on #371
@morgante Yes, but I will test further on several of our projects and report back. I will close this if all is well.

[2020-02-20 20:58] morgante opened #378 "v7.0.1 breaks shared VPC setup w/o explicit subnets"
#362 broke the behavior for any projects created without specifying subnets, as it attempts to work with the default value of `shared_vpc_subnets = [""]`.

We need to make sure the module works properly even if no subnets are explicitly specified.

This is due to removing the `compact(` in the PR.

[2020-02-20 22:36] kuwas commented on #371
@morgante It seems like the warning is gone but destroy still fails, I think its the same message as https://github.com/terraform-google-modules/terraform-google-project-factory/issues/376 and https://github.com/terraform-google-modules/terraform-google-gcloud/issues/27

[code]

[2020-02-20 23:38] skinlayers commented on #376
I'm encountering the same issue when running locally.

[code]

[2020-02-21 00:21] morgante commented on #376
Thanks for the confirmation.

I'm going to spend some time playing around with Terraform Cloud to try to replicate and hopefully have a fix early next week.

[2020-02-21 01:35] jwp23 opened #380 "Ability to use GOOGLE_CREDENTIALS and still delete default account"
I would like use `GOOGLE_CREDENTIALS` environment variable as a way to authenticate with Terraform and still delete the default service account. The GOOGLE_CREDENTIALS environment variable is good for situations where you do not want to place a key file on a server, e.g. a deployment server. When I used `GOOGLE_CREDENTIALS`, the `modify-service-account` failed silently. It was not until I looked i

[2020-02-21 19:52] kuwas commented on #371
Closing to track in the other issue.

[2020-02-21 19:52] #371 closed

[2020-02-21 20:07] chiokejjones commented on #380
This requires adding `use_tf_google_credentials_env_var` to the gcloud module resources used by project-factory.  It'd be a welcomed addition.

[2020-02-23 13:12] mhamrah commented on #376
I believe the problem is that `gcloud` isn't installed in the terraform cloud environment, and I don't believe there is a way to do so.

[2020-02-23 15:09] #378 closed

[2020-02-24 01:24] mhamrah commented on #373
Just want to echo the removal of python and gcloud calls. We are ramping up on TF on GCP and would like to use Terraform Cloud, which has a limited runner where python and gcloud is not installed by default. Although this project handles gcloud to a certain extent, other projects in the terraform-google-modules org do not.

Possibly Hashicorp including these as a default in Terraform cloud would h

[2020-02-24 01:57] kuwas commented on #376
@morgante Like I mentioned in https://github.com/terraform-google-modules/terraform-google-gcloud/issues/27, this module just needs to be built for and tested with ephemeral build environments as the primary consumer.

You can actually reproduce this issue locally by simulating the behavior, see below.

[code]

[code]

[2020-02-25 02:08] morgante commented on #373
Thanks for the data point. We definitely want to support Terraform Cloud, either by building native resources or (as you've seen) referencing the `gcloud` module.

One ask: as you encounter other modules which don't work in Terraform Cloud please do file issues. At the very least, we can update them to use the gcloud module.

[2020-02-25 18:13] trodge opened #384 "Errors attempting to run gke_shared_vpc_subnets example"
Attempting to apply the example gke_shared_vpc I encountered the following errors:
[code]

[2020-02-25 18:34] morgante commented on #384
Sorry for the issue! Can you try changing [this line](https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/examples/gke_shared_vpc/variables.tf#L36) and seeing if it fixes your issue?

[code]

[2020-02-25 19:36] trodge commented on #384
Same errors:

[code]

[2020-02-25 20:03] morgante commented on #384
That's unfortunate. We can try this:

[code]

[2020-02-25 21:43] trodge commented on #384
That got me to the next error:
[code]

[2020-02-25 22:13] morgante commented on #384
The org_id you supplied looks incorrect:

[code]

Make sure the `org_id` is *only* the numeric org ID.

[2020-02-25 22:25] trodge commented on #384
It looks like I had quotes around the org_id. Removing the quotes appears to make the module work againl.

[2020-02-27 22:54] mattcary opened #386 "Race condition with adding bindings to GKE robot on new project"
I've found a race condition when creating a new project using project-factory with the container.googleapis.com service, and adding role binding on the associated robot service account.

My case where it reproduces reliably is a little large, but the idea is the following:

[code]

If the above is done directly with google_project and google_project_service resources instead of the CFT module, the

[2020-03-02 06:44] morgante commented on #386
We should be able to add a `depends_on` dependency here: https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/modules/core_project_factory/outputs.tf#L28

This should make the project_id output dependent on service activation and apply to any IAM resources (including via the IAM module).

[2020-03-02 16:57] mattcary commented on #386
Thanks!

I've made a PR, is that what you had in mind?

https://github.com/terraform-google-modules/terraform-google-project-factory/pull/387

If so I'll see if I can add a test for this case. We can move discussion to the PR as well.

[2020-03-02 23:35] #384 closed

[2020-03-03 17:28] #380 closed

[2020-03-03 22:22] dooman87 opened #389 "App Engine API is required for creating a new project"
Hi there,

I'm not sure if it's a bug, but I would like to know why `appengine.googleapis.com` is listed as required API for creating a new project? I believe it's coming from `modules/core_project_factory/scripts/preconditions/preconditions.py` (line 242):

[code]

We've just started a new project and using `terraform-google-modules` to create our infra. And I got questions from colleagues about

[2020-03-03 22:25] morgante commented on #389
App Engine is not required, but optional. The reason is because App Engine is a project-level resource so it *can* be created through Project Factory: https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/docs/TROUBLESHOOTING.md#missing-api-appenginegoogleapiscom

If you're not using Project Factory to manage App Engine, there is no need to activate it.

[2020-03-03 23:08] dooman87 commented on #389
Thanks @morgante for a quick response. So, given I have terraform like that:

[code]

If appengine API is not enabled on seed project then precondition check is failing when running code above and `appengine.googleapis.com` is listed as unsatisfied condition.

[2020-03-03 23:27] morgante commented on #389
Got it, opened #390 to remove that precondition check.

[2020-03-04 00:12] #386 closed

[2020-03-04 02:18] dooman87 commented on #389
Awesome! Thanks a lot for such a quick turnaround @morgante !

[2020-03-04 09:26] dwilliams782 opened #391 "gcloud_bin_abs_path changes on re-apply"
Running a plan/apply on different machines produces the following diff:

[code]

Truncated the local paths, but it appears to be downloading the gcloud bin and storing the path in state, which isn't what we want to do. I noticed the skip_download variable but that isn't exposed to the project-factory module yet?

Apologies if it's a duplicate, I had a search and couldn't see anything.

[2020-03-05 17:51] morgante commented on #391
Unfortunately I don't think there's actually any way to get around this, as Terraform *requires* everything in the null_resource command to be a trigger and we need to know the gcloud path.

Fortunately, you can safely apply the local-exec multiple times (it's idempotent).

[2020-03-06 03:53] thesuperzapper commented on #391
@morgante isn't `self.triggers.gcloud_bin_abs_path` also stored as a `local.gcloud_bin_abs_path`?

Why cant we just remove `gcloud_bin_abs_path` from the triggers and use the the local variable in our local-exec?

[2020-03-06 03:56] morgante commented on #391
That's actually how it used to be: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/420/files

But then https://github.com/hashicorp/terraform/issues/23679 (in Terraform core) started warning/deprecating this behavior, so we can *only* access triggers.

[2020-03-09 10:09] dwilliams782 commented on #391
Whilst this is true, it muddies up our plans in our CI pipeline, so we have had to move away from using this module.

[2020-03-16 03:38] Jberlinsky opened #392 "Module can not be used with Terraform 0.12.2 and recent provider"
There exists no version of this module that will work out of the box with Terraform 0.12.2, and a recent (>= 3.0.0) version of the `google` provider.

v3.3.1 is the latest version of this module that does not use `for_each`, for which support was only added in Terraform 0.12.6. However, this version [uses](https://github.com/terraform-google-modules/terraform-google-project-factory/blob/v3.3.1/mod

[2020-03-16 03:43] morgante commented on #392
We could add a version constraint, but frankly supporting old versions of Terraform is not a priority. The best resolution is to upgrade your version.

[2020-03-17 19:38] MajorBreakfast commented on #352
Implemented in https://github.com/terraform-google-modules/terraform-google-project-factory/pull/393

[2020-03-17 19:40] #352 closed

[2020-03-23 19:50] dooman87 commented on #376
We had similar issue while using `default_service_account = "delete"`. We are running terraform on GCP Cloud Build. That might be easier for you to replicate @morgante?

The easy workaround that worked for us was to set `skip_gcloud_download = true` in the module call. However you would need to have `gcloud` in your docker image.

[2020-03-29 01:24] dmcgowandmc commented on #352
Thanks @morgante , I'll arrange to upgrade to version 7.1.0 to try it out!

[2020-03-30 20:10] #392 closed

[2020-03-30 20:11] #305 closed

[2020-04-02 15:27] marc-leblanc opened #395 "svpc attachment failing on missing compute.organizations.enableXpnResource permission"
Unable to create SVPC attachment.

[code]

Things I have verified:
* Able to use the same service account to create the attachment via gcloud CLI. Works fine
* Granted the `compute.organizations.enableXpnResource` on the organization. Fails in TF
* Granted the `compute.organizations.enableXpnResource` on the folder/project. Also fails in TF
* Manually granted all of the permissions listed for requ

[2020-04-02 15:33] morgante commented on #395
Please double check which account you're using in Terraform. This is very unlikely to be a bug in the module, since all we're doing is using the resource + API call.

[2020-04-03 07:40] MajorBreakfast opened #396 "Lightweight project factory without dependency on terraform-google-gcloud"
The intention of the terraform-google-gcloud is to make the project factory module self-contained. However the use of it added two main downsides for use cases which do not require it (e.g. running this module inside a CI pipeline which can easily provide a preinstalled gcloud cli):

For each instance of the project factory, three instances of the terraform-google-gcloud are created which leads to

[2020-04-03 13:09] marc-leblanc commented on #395
Double checked.
I have cooked up a pretty simple scenario.

I have credentials_path set to the path to the json service account key file. The SVPC in this case pre-exists. The service account I created has roles/permissions set from the setup_sa.sh script.

Project factory  can create the new service project, but when it goes to attach it, it fails on the xpn permission every time.

I did a test,

[2020-04-03 16:21] morgante commented on #395
To confirm, is your provider block configured the same way when invoking Project Factory?

[2020-04-06 23:42] thesuperzapper commented on #376
I believe this is related to #391 and #396

[2020-04-06 23:43] thesuperzapper commented on #391
Lets discuss this in #396

[2020-04-08 15:46] pryankster commented on #376
I have this issue.  Trying to apply some output changes (no changes to resources), but terraform thinks that it needs to update/destroy gcloud?

[code]
How can I get myself out of this without destroying all of my resources?

There's no terraform-google-modules-terraform-google-cloud-09a6f10 directory ...
[code]
So it looks like the cache directory is wrong?

[2020-04-08 16:37] slimm609 commented on #376
https://github.com/terraform-google-modules/terraform-google-gcloud/issues/38

This looks very similar to the issue I am still having with the cache directory.

[2020-04-09 02:04] thesuperzapper commented on #376
@pryankster you have to use `terraform state rm project.project-factory.gcloud_disable` (which is fine to do as its just a null_operator.

But read the docs first: https://www.terraform.io/docs/commands/state/rm.html

[2020-04-09 14:34] pryankster commented on #376
@thesuperzapper Thanks, that's what I ended up doing ... was a bit scary the first time :-) as we are still all getting our feet with with TF & GCP

[2020-04-09 18:48] mikhail-khodorovskiy opened #398 "Error applying a plan when upgrading 7.0.2 version to 7.1.0 version."
Even after a full reinit and using empty .terraform directory:

[code]

Produces a plan:

[code]

which fails to apply
[code]

Please recommend a work-around.

[2020-04-09 18:57] morgante commented on #398
You can safely remove those resources:

[code]

[2020-04-09 19:05] mikhail-khodorovskiy commented on #398
Is there a fix planned for the download of gcloud and caching it?  We run terraform via docker and gcloud is already installed in the image.

[2020-04-09 19:10] morgante commented on #398
You can use the `skip_gcloud_download` variable.

[2020-04-09 19:10] #398 closed

[2020-04-15 16:41] adrian-gierakowski commented on #396
for those who, like myself, cannot afford to wait for the download size issue to be resolved, I have created [a fork](https://github.com/adrian-gierakowski/terraform-google-project-factory/tree/ag/use-terraform-google-gcloud-lite) of `terraform-google-project-factory` which uses a [lightweight copy](https://github.com/adrian-gierakowski/terraform-google-gcloud-lite) of  `terraform-google-gcloud` w

[2020-04-15 22:49] morgante commented on #396
#47 has been merged, so we should be able to address this by upgrading to the latest version of gcloud in this module.

[2020-04-16 07:24] adrian-gierakowski commented on #396
@morgante I guess you meant https://github.com/terraform-google-modules/terraform-google-gcloud/pull/41?

Besides, I think there is still one outstanding issue: removing all the binaries from git history (as mentioned in https://github.com/terraform-google-modules/terraform-google-gcloud/issues/37#issuecomment-612221939) because as far as I remember terraform performs a full clone of the repo when

[2020-04-16 08:35] morgante commented on #396
I don't think that's true, when used from the registry it doesn't download full git history.

[2020-04-16 09:05] adrian-gierakowski commented on #396
@morgante I've updated `terraform-google-modules/gcloud/google` to `version = "~> 1.0.0"` and then did:
[code]

and this is what I see:
[code]

it's been stuck on the download for the last 15 minutes

not sure if that's because the module has not been cached in the registry yet or something, but regardless, I think it's worth reducing the size of the repo anyway

[2020-04-16 11:11] morgante commented on #396
I'm very loathe to rewrite history without clear evidence that Terraform is doing the wrong thing and checking out old versions. Breaking old versions and destroying history is destructive to existing users and we'd need a really strong reason.

I just timed a `tf init` using the new module version and it took less than 2 seconds.

[2020-04-18 12:34] adrian-gierakowski commented on #396
@morgante unfortunately after pooling latest master and running `terraform init` [as described above](https://github.com/terraform-google-modules/terraform-google-project-factory/issues/396#issuecomment-614517764) I get the same result: it gets stuck at:
[code]

and in my network activity is showing that data is being downloaded at around 1MB per second

It's possible that it happened quicker on y

[2020-04-19 00:59] morgante commented on #396
How are you specifying the module? It's just surprising to me because the module on my system is less than <1MB.

[2020-04-19 16:45] adrian-gierakowski commented on #396
@morgante

this is what I did:
[code]

`git log -1 --format='%H'` results in: 2889db19aeb3322d6edf41d7b4aa40f320679650, so I've got the latest version from master

[2020-04-22 23:38] mgrzechocinski opened #404 "HTTP 403 when running preconditions.py"
Hi.

I followed up the documentation to set all the required permissions and enable all the APIs on my service project which is used to create new project by Terraform, using project-factory module. This project hosts a service account which is actually used to create new projects and resources within them.

When I run `terraform apply`, I see that this module runs some custom code and the beginni

[2020-04-22 23:43] mgrzechocinski commented on #404
Adding `Service Usage Viewer` to my service account on the service project (bootstrap) fixes the issue.
[code]

 I guess it should be added to the [Permissions](https://github.com/terraform-google-modules/terraform-google-project-factory#permissions) section of the README file?

[2020-04-23 00:31] morgante commented on #404
I'm not sure we should actually change this, since the precondition script is mainly meant as a helper/troubleshooter.

[2020-04-25 00:02] mikhail-khodorovskiy opened #405 "Using budgets."
What should be the iam permissions for project creating service account in order to use budgets?
I am getting an error with the org level billingUser IAM role:
[code]
can the role be set on the folder rather than the org?

[2020-04-25 02:29] morgante commented on #405
You need the billing admin role, as explained here: https://cloud.google.com/billing/docs/how-to/billing-access

Billing IAM cannot be managed on folders, only orgs or billing accounts.

[2020-04-25 02:29] #405 closed

[2020-04-25 14:04] adrian-gierakowski commented on #396
@morgante jest a quick update, it turns out that I was using slightly outdated version of terraform (v0.12.18), which seems to perform a full clone of the modules repo. After updating to v0.12.24 terraform init is nearly instant.

[2020-04-25 19:04] morgante commented on #396
Thank you for the update! Looks like we can close this.

[2020-04-25 19:04] #396 closed

[2020-04-26 15:28] pascalwhoop commented on #373
@morgante thanks for being open to this I assume rather large refactor.

As a data point, we're a company that would like to apply the cloud foundation toolkit to enable clients with a production grade GCP cloud quickly. This relies on a number of the modules in this github org, many of which again rely on this module. So it seems the project-factory is deeply nested in all of this.

I ran into se

[2020-04-26 16:38] umairidris commented on #373
Since this issue was opened, I added a check for verifying billing account permission before a project is created in the Google provider itself. This was the main issue that I would run into that this module prevented.

GCP also now has an org policy to deprivelege the default service account.

Thus, I think the only remaining issue is a required API not being enabled.

Given the above, I think we

[2020-04-27 17:13] morgante commented on #373
We could potentially move it into a separate module, but I think the priority should be on removing the need for it entirely.

[2020-04-27 17:53] pascalwhoop commented on #373
@morgante can you point me to some tasks that I could pick up? I don’t have the broad vision of all dependencies yet but I’m happy to pick up a piece or two if you guide me.

[2020-04-27 19:15] red8888 opened #406 "activate_apis parameter is using count instead of for_each"
I specify activate_apis like this:

[code]

Now lets say I want to reorder that to group similar APIs together:
[code]

Because this module is using count its a destructive operation. terraform 0.12 fixed this problem. count should only be used where you really need to preserve order and destroy/recreate if that order is changed. Here order is totally arbitrary

Why is this module using count inst

[2020-04-27 19:52] morgante commented on #406
Please make sure you're using the latest module version (8.0.0). This has been fixed since the 4.0.0 release: https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/CHANGELOG.md#400---2019-10-21

[2020-04-27 19:52] #406 closed

[2020-04-27 19:57] morgante opened #407 "Remove preconditions script"
In order to remove the [preconditions script](https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/modules/core_project_factory/scripts/preconditions/preconditions.py) from the module (#373), we need to confirm it's impossible to start module creation and be left in a catastrophic state.

Therefore we need to make sure each step has an associated in-provider che

[2020-04-27 20:19] morgante commented on #373
I've opened #407 to track.

[2020-04-27 20:19] #373 closed

[2020-04-27 21:33] morgante opened #408 "Remove gcloud dependency"
We would like to remove all null_resources from this module and not require gcloud in the execution environment.

This will require:
- [ ] Removing the need for the precheck script: #407
- [ ] Adding native Terraform support to handle deleting/disabling the default service account

[2020-04-27 21:34] #389 closed

[2020-04-27 21:35] morgante commented on #395
@marc-leblanc Is this still an issue?

[2020-04-27 22:50] marc-leblanc commented on #395
I have to come back to it when I have time. I think I know what was causing it. Close for now.

[2020-04-27 22:50] #395 closed

[2020-04-28 02:53] bharathkkb commented on #408
@morgante this would be in the provider right?

[2020-04-28 03:04] max-nzta opened #410 "Terraform Destroy fails on disabling project APIs"
Hi guys,

I have a pretty simple script to create a project.
[code]

It creates a project just fine. I am using the following command. All variables are present.

`terraform destroy -var-file dev.tfvars -var-file override.tfvars -auto-approve`

 Then I try to drop the project by running this command
`terraform apply -var-file dev.tfvars -var-file override.tfvars -auto-approve`

When dropping the p

[2020-04-28 18:16] morgante commented on #410
Unfortunately it's likely that you still have some resources using these APIs.

If you're trying to delete the whole project you can set `disable_services_on_destroy = false` to skip disabling services and simply destroy the whole project.

[2020-04-28 18:29] morgante commented on #408
Correct

[2020-04-29 01:17] max-nzta commented on #410
@morgante thanks for your response. Setting the `disable_services_on_destroy` flag to false didn't work. But setting additionally the `disable_dependent_services` to false did the trick. It's working now.

[2020-04-29 01:17] #410 closed

[2020-05-02 19:44] tmc opened #411 "feature request: Allow enabling versioning on project bucket."

[2020-05-04 12:55] ElyKhama opened #412 "Downloading terraform-google-modules/gcloud/google not working"
I'm trying to create a project with project-factory module :
[code]

But when I do terraform init I have this :
`Downloading terraform-google-modules/gcloud/google 1.0.0 for project_common.project-factory.gcloud_delete...`

It's stuck for hour. Other modules (e.g cloud-nat) are downloading well.

To reproduce just remove your .terraform folder and run `terraform init` again on a workspace using pr

[2020-05-04 13:07] morgante commented on #412
What version of Terraform are you using? `terraform -v`

[2020-05-04 13:10] ElyKhama commented on #412
I'm using Terraform v0.12.24.
Sorry I should have misconfigured something, it works on old projects I have, same environment.

[2020-05-04 13:13] #412 closed

[2020-05-04 15:48] umairidris commented on #408
Does the org policy `constraints/iam.automaticIamGrantsForDefaultServiceAccounts` remove the need for step 2?

[2020-05-04 16:01] morgante commented on #408
Unfortunately that doesn't support cases where you don't manage the org policies for the organization or folder. (Even `google.com` is an example.)

[2020-05-05 11:30] leone145 commented on #408
I would like to see this. If the module.gcloud_deprivilege.null_resource.run_command[0] becomes tainted and editor was previously removed, it will not apply without manual intervention.

[2020-05-05 19:59] umairidris opened #413 "org_id required even if only creating project in folder"
The org_id should not be required if the user is only creating a project in the folder.

[2020-05-05 20:00] morgante commented on #413
What's the use case for not requiring it?

In general we're trying to keep a simpler interface with less variations. For that, it's simpler to assume we always know the org ID.

[2020-05-05 20:18] umairidris commented on #413
We were working with a customer who was setting up a new app in a folder which was already created and their org setup.

They wanted to do everything inside this folder and thus were going through and removing/replacing any org references/resources.

When it came to project they tried to deploy but then saw the org id is required. They were able to get past this by just setting a dummy org_id like

[2020-05-05 20:27] morgante commented on #413
The issue is that some features (around group management/access) do require looking up info about the org ID. Creating inside a folder is fully supported, of course.

There isn't any harm in requiring org ID, while conditionally excluding it would require meaningful additional logic.

[2020-05-05 20:29] umairidris commented on #413
Ah, we weren't setting up group management so I wasn't aware. If it makes things more complex then no need to change it, thanks.

[2020-05-05 20:29] #413 closed

[2020-05-05 22:46] umairidris commented on #413
p.s. just setting org_id to "" is usually sufficient in bypassing this.

[2020-05-06 20:48] leone145 opened #414 "Erroneous match for default SA and deprivilege"
[code]

If there are roles that include "editor" in the name, then this will erroneously match and fail to remove when editor is missing.
terraform-google-project-factory/modules/core_project_factory/scripts/modify-service-account.sh

Example

gcloud projects get-iam-policy mmk-ok-yes --flatten=bindings[].members --format=table'(bindings.role,bindings.members)' --filter=bindings.role:editor
WARNIN

[2020-05-06 20:51] leone145 commented on #414
Error observed, when above condition is met

[code]

[2020-05-06 21:17] leone145 commented on #414
One recommendation is to change line below

[code]

to this, so that it is an exact match for the primitive editor role

[code]

[2020-05-07 02:50] #414 closed

[2020-05-08 11:34] sbadakhc opened #416 "setup-sa.sh fails "Service account name must be between 6 and 30 characters""
Running the setup-sa.sh script without providing the optional parameter for an sa account name.

[code]

[2020-05-08 13:24] sdevang commented on #375
I am also facing the same issue. I have GOOGLE_CREDENTIALS set up as an environment variable and terraform apply fails with following.

`
Error: Error running command 'PATH=/codebuild/output/src391/src/s3/01/03-project-deployer/example/host-project/.terraform/modules/example-prod-infra-host-project.project-factory.gcloud_disable/terraform-google-gcloud-1.0.0/cache/325a06c2/google-cloud-sdk/bin:$PA

[2020-05-08 15:01] sbadakhc opened #417 "Unable to import Google API dependencies, skipping GCP precondition checks!"
This seems to be an issue with pip attempting to install as root modules as root. I using Fedora Linux. Its probably a good idea to use the --user flag when executing pip.

[code]

[2020-05-08 16:49] morgante commented on #375
@sdevang If you set `GOOGLE_APPLICATION_CREDENTIALS` env variable does that work?

[2020-05-08 17:11] morgante commented on #416
Thanks for the report, I'm able to reproduce this.

[2020-05-08 19:14] #416 closed

[2020-05-08 19:15] morgante commented on #417
To get around this, I'd recommend simply installing the pip requirements out-of-band.

[2020-05-08 19:40] sbadakhc commented on #417
Will do to work around this. Perhaps the module can be updated to execute with the --user option in the future?

Thanks,
Sal.

[2020-05-08 19:52] morgante commented on #417
We're actually hoping to deprecate the precondition script entirely - #407.

[2020-05-08 19:52] #417 closed

[2020-05-08 23:09] sdevang commented on #375
@morgante I thought of trying that but I did not. I changed the config to following and it works for me.

`module "prod-infra-host-project" {
  source            = "github.com/terraform-google-modules/terraform-google-project-factory"
  random_project_id = true
  name              = var.host_project_name
  org_id            = var.organization_id
  folder_id         = var.folder_id
  billing_accoun

[2020-05-08 23:12] morgante commented on #375
Excellent!

[2020-05-08 23:12] #375 closed

[2020-05-12 09:04] dmcgowandmc opened #420 "Provider produced inconsistent result after apply"
Hi All,

Getting the following error when using the latest project factory version. Something to do with the default service account

[code]
[code]

I have been able to resolve this by setting default_service_account to delete and provided that doesn't cause any issues down the line, it's an acceptable workaround for me, but through i'd call it out.

Let me know if you have any ideas as to what's

[2020-05-12 16:14] morgante commented on #420
Just to confirm, is your config working now?

[2020-05-13 01:52] dmcgowandmc commented on #420
I added in the the following parameter

[code]

And that fixed the error. I've never used the default service account and I believe the default action is to disable, so not sure if that will cause issues later down the track

[2020-05-18 12:21] Alucardfh commented on #420
Similar problem here.
Looks like there is something wrong with the way Terraform processes disabling the default service account.

[code]

This happened with module v6.0.0 and v8.0.1.

Module configuration:
[code]

[2020-05-18 14:29] bharathkkb commented on #420
I believe this is a provider error
https://github.com/terraform-providers/terraform-provider-google/issues/6377

[2020-05-18 16:11] morgante commented on #420
Yes, hopefully this will be fixed in the next provider release.

[2020-05-20 16:57] unclebene commented on #420
not fixed in the gcp provider release 3.22 :(

[2020-05-21 17:30] evberrypi opened #421 "Module fails to run due to billing account IAM permissions"
Hey team,
I just tried to run this module and am not able to create a project. It fails when attaching a billing account to a project, prior to the project getting created.

**Expected result:**
- The module would create a project

**Actual result:**
- First, I get the error:
`Error: failed pre-requisites: failed to check permissions on billing account "billingAccounts/<redacted> \t": googleapi: E

[2020-05-21 18:06] morgante commented on #421
Your billing account might not actually be attached to your org.

Please try grant Billing Account User directly on the billing account: https://cloud.google.com/billing/docs/how-to/billing-access#update-cloud-billing-permissions

[2020-05-25 01:37] evberrypi commented on #421
The billing account was not attached to the org, just the IAM permission was added. Thanks, this fixed it.

[2020-05-25 01:37] #421 closed

[2020-05-26 18:31] bharathkkb opened #422 "Enable shared_vpc_host to be set using project factory"
Currently inorder to create a project as a SVPC host project, we have to either
- Create project using PF and then use `google_compute_shared_vpc_host_project` to mark it as SVPC host
- [Use Network module ](https://github.com/terraform-google-modules/terraform-google-network)

We should consider wrapping `google_compute_shared_vpc_host_project` within PF similar to [how we attach as a service pro

[2020-05-26 18:34] morgante commented on #422
I think this is a reasonable addition. We could expose an `enable_shared_vpc_host` variable.

[2020-05-29 18:42] jwp23 opened #423 "Preconditions check fails for billing permission"
When I use Cloud Build to run the project factory, I get the following error
`Step #3 - "tf apply":  Error: failed pre-requisites: missing permission on "billingAccounts/<billing account redacted>": billing.resourceAssociations.create`

I went through the troubleshooting steps. In the Account Management screen, my billing account shows the organization is my domain. The Cloud Build service account

[2020-05-29 18:52] morgante commented on #423
Can you share your Terraform and Cloud Build configs?

[2020-05-29 18:59] jwp23 commented on #423
I'm creating a demo to run Cloud Build to deploy a project using a module that wraps around the project factory and that accepts the project name as a substitution in the Cloud Build run. The Cloud Build config is
[code]

The Terraform config is
[code]

The command I use to trigger the Cloud Build is
`gcloud builds submit . --config=cloudbuild.yaml --substitutions=_PROJECT_NAME="foobar"`

[2020-05-29 19:06] jwp23 commented on #423
I may have misinterpreted that it was the preconditions check that failed. Below is the log from the Terraform apply
[code]

[2020-05-29 20:16] jwp23 commented on #423
I think this can be closed now.  I discovered the issue is the Cloud Build service account is not the service account that is displayed in the IAM roles after the Cloud Build API is enabled. This documentation put me on the right path on how to assign the correct permissions to the correct Cloud Build service account. https://cloud.google.com/cloud-build/docs/securing-builds/set-service-account-pe

[2020-05-29 22:31] morgante commented on #423
Thanks for reporting back.

[2020-05-29 22:31] #423 closed

[2020-05-30 15:28] david-walker-gfs opened #424 ""ValueError: Invalid Terraform resource path" running migrate4.py"
When upgrading from 3.2 to 4.0 of the project factory, I encountered the following issue.

[code]

Definition for the `google_logging_metric` resource is:

[code]

The local is simple a list of projects.
[code]

I've seen this before on another project when I previously tried to upgrade but never got around to look at it further. The similarities occur whenever there's quotations in the resource n

[2020-05-30 15:46] david-walker-gfs commented on #424
Upon experimenting, it looks like if I just remove the check, it works. I am not sure if the implications of doing so though. Think perhaps the regex just needs to be updated to allow quoted resources.

[2020-05-30 16:27] david-walker-gfs commented on #424
Another issue I've encountered is that the script fails if when running a normal apply, a tfvars file is expected.

[code]

[2020-06-01 06:24] morgante commented on #424
This error looks like it's coming from unrelated config (ie. elsewhere in your Terraform config). I'd suggest commenting out any other config while you run the import commands.

The migration script is really just meant as a helper, if you run it in with the `--dryrun` command it will output the required `terraform state` commands to migrate. You can then work through those one-by-one to fix any i

[2020-06-02 11:59] david-walker-gfs commented on #424
Thanks morgante. I've managed to push my upgrade through by commenting out the validation as mentioned and then to get over the second issue with tfvars, I added a default value for the variable while it did the migrate.

Perhaps this will help others who encounter issues with the upgrade script in future. I wasn't aware it was only supposed to be a helper. I guess the dryrun flag would help alrig

[2020-06-02 15:41] #424 closed

[2020-06-23 15:37] preston-hf opened #425 "Fabric project doesn't support having a human readable name"
I am using the fabric project with prefixes, and this gives the end users a less than ideal experience when looking at projects. I would like to have the option to supply a human readable name in addition to the project_id, instead of [forcing](https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/modules/fabric-project/main.tf#L33) them to be identical. I am hap

[2020-06-23 16:12] morgante commented on #425
At this point, I don't think we want to add new features to fabric project. It was mostly experimental and I expect we might remove it in the future.

Is there a reason you can't use the main project factory? It should support the human readable name you need.

[2020-06-23 17:19] preston-hf commented on #425
That's good to know. I have been using it heavily as it is very minimal which for my usage was desirable. I'm not sure exactly why I went with it ultimately, but that was my overall goal. What was the experiement?

Thanks

[2020-06-23 17:20] morgante commented on #425
Trying to upstream some more minimal examples, but truthfully we've found that the core project factory should work fine. You can easily turn off features that you don't use there.

[2020-06-23 17:20] #425 closed

[2020-06-29 11:39] Luke-Vear commented on #391
That issue is closed, but it didnt seem to have a resolution for this problem

[2020-06-29 16:37] djbingham commented on #408
I would also love to see this. I've abandoned plans to use Terraform Cloud because I couldn't get this module to work properly (Terraform Cloud doesn't have `gcloud` in its execution environment).

Would a reasonable alternative (or temporary) solution be to depend on the [`gcloud` Terraform module](https://registry.terraform.io/modules/terraform-google-modules/gcloud/google/1.0.1), rather than re

[2020-06-30 02:38] morgante commented on #408
@djbingham Yes that would be a reasonable workaround to get this working on Terraform Cloud. I haven't had cycles to work on it, but I'd be happy to review a PR.

[2020-06-30 05:51] thesuperzapper commented on #391
@morgante I am still having this issue with `v8.0.1`

[2020-06-30 14:41] morgante commented on #391
@thesuperzapper Can you try setting `skip_gcloud_download` to true? That should workaround the issue.

[2020-07-03 02:31] thesuperzapper commented on #391
@morgante, I am setting that to true already.

[2020-07-03 03:41] morgante commented on #391
Odd, I think we'll have to fix this in the gcloud module.

[2020-07-09 20:16] morgante opened #426 "Switch to Cloud Identity API"
There is now support for managing group membership using the normal [Terraform provider](https://www.terraform.io/docs/providers/google/r/cloud_identity_group_membership.html). We should switch the gsuite submodule to use that instead.

[2020-07-13 19:26] kwraith05 opened #427 "Fix Budget and Budget Additional Kitchen Tests"
The following error occurs when kitchen tests try to verify the budget or budget additional were created.

[code]

[2020-07-14 14:24] bvarga opened #429 "Relative credentials_path won't work"
Hi,

When providing a relative path, got an error:

[code]

`': exit status 1. Output: ERROR: (gcloud.iam.service-accounts.list) Failed to load credential file: [~/.config/gcloud/terraform-admin.json].  The parameter passed to the from_stream() method should point to a file.
`

if use absolute path, everything works as expected.

Also I can make it work if I wrap it to terraform function `pathexpa

[2020-07-14 14:51] morgante commented on #429
We could add `pathexpand` or `abspath` inside the module to fix this.

[2020-07-15 22:16] dmedora opened #430 "Billing account: precondition check failed on project creation"
Hello,

When attempting to create projects using the `project-factory` module, I receive the below error related to setting a billing account. I am creating ~8 projects in the same way. Usually, around 2 or 3 of them will get this error, while the rest are successful. Perhaps there is a race condition with the billing account being set before the project is ready?

[code]

Sample module block:
[co

[2020-07-15 22:27] bharathkkb commented on #430
Hi @dmedora could you check if it is due to this https://github.com/terraform-google-modules/terraform-google-project-factory/issues/28#issuecomment-422178737

[2020-07-15 22:39] dmedora commented on #430
It is in fact the same issue - thank you for the quick help!

[2020-07-15 22:39] #430 closed

[2020-08-12 14:11] arybka777 opened #439 "Can we please provide an actual API instead of shell scripts?"
Can we please provide an actual API instead of shell scripts?

Here is an example:
https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/modules/core_project_factory/scripts/modify-service-account.sh

Thank you

[2020-08-12 15:04] morgante commented on #439
Dupe of #408.

[2020-08-12 15:04] #439 closed

[2020-08-18 06:58] MajorBreakfast opened #442 "shared_vpc_access module is broken"
It seems to be referencing non-existant resources:

https://github.com/terraform-google-modules/terraform-google-project-factory/blob/dd2dd997650ebea9df220bc750a21a6e813cc962/modules/shared_vpc_access/outputs.tf#L26-L28

- There's no `google_compute_subnetwork_iam_member.gke_dataproc_shared_vpc_subnets` resource defined in this module
- There's no `google_project_iam_member.gke_dataproc_shared_vpc

[2020-08-18 07:29] MajorBreakfast opened #443 "Shared vpc test should test shared_vpc project factory module"
https://github.com/terraform-google-modules/terraform-google-project-factory/blob/d28561cbd92838b991b30fb44d85951f1e732c8f/test/fixtures/vpc_sc_project/main.tf#L48

Currently it uses the root module. Hence, the shared_vpc remains untested.

Also the shared_vpc_access module is therefore untested. This module recently contained a bug (https://github.com/terraform-google-modules/terraform-google-pro

[2020-08-18 07:32] MajorBreakfast opened #444 "shared_vpc module has an unintuitive name"
The name does not suggest that it actually creates a project, but it does. Looking at the code it's mostly the same as the root module. It only contains an instance of the shared_vpc_access module extra.

[2020-08-18 07:58] MajorBreakfast commented on #442
https://github.com/terraform-google-modules/terraform-google-project-factory/pull/441 fixes this issue

[2020-08-18 11:58] rosmo commented on #376
It would be very nice to update the included gcloud module to the latest, since there's a fix for this: https://github.com/terraform-google-modules/terraform-google-gcloud/issues/27

Currently runs in an ephemeral container-based CI/CD system like Gitlab are breaking.

[2020-08-18 14:40] bharathkkb commented on #443
Hi @MajorBreakfast
It is actually tested here https://github.com/terraform-google-modules/terraform-google-project-factory/blob/d28561cbd92838b991b30fb44d85951f1e732c8f/test/fixtures/dynamic_shared_vpc/main.tf#L18

The reason why #442 was not detected was due to https://github.com/terraform-google-modules/terraform-google-project-factory/pull/441#pullrequestreview-468855846

[2020-08-18 15:17] askoriy opened #445 "shared_vpc features is broken (or removed) from root module"
After upgrade to version 9.0 I could not recreate shared_vpc resources that I had in 8.1 version.
[Examples](https://github.com/terraform-google-modules/terraform-google-project-factory#usage), Documentation, [Upgrading guide](https://github.com/terraform-google-modules/terraform-google-project-factory/blob/v9.0.0/docs/upgrading_to_project_factory_v9.0.md#gke-api-already-enabled) - nothing helped.

[2020-08-18 15:54] morgante commented on #444
These are all part of the project factory so I don't think we will rename.

I'd be happy to accept a PR adding a README though.

[2020-08-18 16:09] bharathkkb commented on #442
fixed by #441

[2020-08-18 16:09] #442 closed

[2020-08-18 18:41] MajorBreakfast commented on #443
Ah i see... Terraform validation should have picked it up, but it didn‘t due to a bug in the Terraform version that was used. And that bug is unfortunately only fixed in 0.13. I‘m closing this issue because the code is tested after all

[2020-08-18 18:41] #443 closed

[2020-08-19 03:08] morgante commented on #445
@askoriy Is there a reason you can't switch to the shared_vpc submodule? I think simply documenting this is going to be a better approach.

[2020-08-19 13:02] philipwigg commented on #411
I think implemented in https://github.com/terraform-google-modules/terraform-google-project-factory/pull/431

[2020-08-19 14:44] #411 closed

[2020-08-26 22:03] umairidris opened #448 "Support service_identity"
Googled managed API service accounts are being moved to a just-in-time activation rather than on API enablement. This breaks many Terraform based workflows which create projects, enable APIs and grants additional IAM permissions to them.

A new `google_project_service_identity` resource is being created which can force create the SA (see https://github.com/hashicorp/terraform-provider-google/issue

[2020-08-26 22:09] bharathkkb commented on #448
+1 I have seen this start to break some workflows. Automatically appending `activate_service_identities` to `activate_apis` makes sense to me.

[2020-08-26 22:34] morgante commented on #448
This makes sense to me too.

Question: is there a workflow where you would want to activate APIs but not activate service identities? I'm wondering if we should automatically activate all the identities for listed `activate_apis`.

[2020-08-26 22:49] umairidris commented on #448
In most cases you should not need to call the service identity API and the default behaviour is sufficient.

The only case I have seen is when you need to grant the SA additional permissions. One example is in order to use healthcare store export to BQ, we need to grant `bigquery.jobUser` on the SA (can't be granted on the BQ dataset as this is a project level permission). Otherwise for regular op

[2020-08-26 23:19] imrannayer commented on #448
This is definitely breaking our own modules where we were granting permission to composer service account on shared vpc project. Composer service accounts are not created when enabling service anymore.

[2020-08-26 23:20] imrannayer commented on #448
TPU service accounts are also not part of enabling service.

[2020-08-26 23:27] morgante commented on #448
I'm in favor of creating the SA for all APIs activated, since it matches historical behavior and I don't necessarily see immediate downsides.

[2020-08-27 00:20] imrannayer commented on #448
You can also add an extra flag which user can set to false if they dont want to create service account. Default value can be true to keep historical behavior.

[2020-08-27 04:40] morgante commented on #448
Good idea, let's include this.

[2020-08-27 17:00] umairidris commented on #448
I synced with the eng working on this  and they have advised *not* to automatically call this for all APIs and make it explicit only when needed.

cc @xdqyzy

[2020-08-27 17:01] morgante commented on #448
What's the issue with calling it for all APIs? I do feel like it's rather verbose/unnecessary to list APIs twice.

[2020-08-27 17:14] xdqyzy commented on #448
- not all the APIs have service identities defined.
- activate_service_identities should be used only for services doing cross project access in the following pattern. For operations within the same project, we should expect the service identifies provisioned automatically by API producers.
  1) create project A,
  2) enable API X in project A,
  3) provision service identity for the API X in proj

[2020-08-27 17:20] umairidris commented on #448
I just discovered #3 today while doing my testing.

In order to fully reproduce the initial behaviour we actually need two resources:

1. the service identity to force create the SA
2. project iam member to grant the healthcare.serviceAgent role in addition to any extra roles (e.g. bigquery.jobUser).

[2020-08-27 17:28] morgante commented on #448
That seems like something we could handle with a list.

I'm confused why this would only apply for cross-project access. If I want to grant additional roles to the API (even in my same project) don't I need to create the service identity?

This seems like a bug we'd have to deal with either way?

Alright I guess that's a sensible approach though I do still wonder why we broke existing users / are

[2020-08-27 17:38] umairidris commented on #448
The response from the generateServiceIdentity API also contains the service account identifier, so we could output that through the provider and add a helper to grant roles in factory too

e.g.
[code]

I will look into that to make things a bit less painful. I'll let Danny answer the rest of the questions.

[2020-08-28 18:25] umairidris commented on #448
Exposing email field in https://github.com/GoogleCloudPlatform/magic-modules/pull/3924.

[2020-08-29 17:01] billyfoss commented on #448
This is especially important in Shared VPC environments with managed services like data proc and composer being created in service projects.
The team managing the host project needs to grant host project permissions to the service account in the service project when the API is enabled.  The team actually creating the dataproc or cloud composer cluster will not have permission to grant permissions

[2020-08-30 20:43] xdqyzy commented on #448
The change has the following benefits to service ecosystem.
- reduce reliability risk: most service identities provisioned at activation time are unused. Activation time provisioning adds unnecessary load and reliability concern to identity global systems.
- improve long-term user experience: we want to support folder or organization activation or require no activation for using services.

Service

[2020-09-02 23:15] bharathkkb commented on #420
Closing this out as it is fixed. Feel free to reopen if need.

[2020-09-02 23:15] #420 closed

[2020-09-03 20:59] amadhus opened #452 "Provider produced inconsistent result after apply"
Hey Team,

I was trying to provision a GCP project using the terraform-google-project-factory module with version 8.0 and when I am trying to apply using terragrunt the changes it was throwing an error as follows:

*****************************************************
Error: Provider produced inconsistent result after apply

When applying changes to
module.project.module.project-factory.google_ser

[2020-09-03 22:26] bharathkkb commented on #452
Hi @amadhus
Could you give the following info.
- Google provider version
- Terraform version
- Example config

Additionally if you are using 2.x provider I would recommend upgrading to latest 3.x.

[2020-09-08 16:56] bharathkkb commented on #452
x-ref https://github.com/terraform-google-modules/terraform-google-project-factory/issues/420#issuecomment-630220556

[2020-09-08 17:30] amadhus commented on #452
Hi @bharathkkb,

Thank you very much for responding to my thread or error.

Please find the requested information below:
******************************************************
**1. Google Provider Version:**

google  version = 3.17.0
google-beta version = 3.17.0

**2. Terraform Version:**
Version - 0.12.25

**3. Example Config:**
We are working with the GCP Support Engineers or Experts on our init

[2020-09-08 17:40] bharathkkb commented on #452
@amadhus  Could you try bumping the provider to a more recent version of the 3.x, perhaps 3.37. We had a similar issue here: https://github.com/terraform-google-modules/terraform-google-project-factory/issues/420#issuecomment-630220556

[2020-09-08 17:45] amadhus commented on #452
@bharathkkb, let me try that and will let you know how it goes?

[2020-09-08 22:25] amadhus commented on #452
@bharathkkb, looks like the error was resolved when I tried to provision the project with the updated google provider version to 3.37.0.

Thank you very much for the support and patience.

[2020-09-08 22:45] bharathkkb commented on #452
Glad to hear and thanks for the update 😄

[2020-09-08 22:45] #452 closed

[2020-09-11 04:47] davidholsgrove opened #455 "Add monitoring_notification_channels to modules/budget"
Provider issue https://github.com/hashicorp/terraform-provider-google/issues/6868 added support for `monitoring_notification_channels` in `google_billing_budget`

Update the `modules/budget` to support this option, inline with the documented example: https://www.terraform.io/docs/providers/google/r/billing_budget.html#example-usage-billing-budget-notify

[2020-09-15 01:09] #448 closed

[2020-09-23 00:03] #455 closed

[2020-09-25 20:32] asgoel opened #460 "New Version release to fix shared_vpc outputs"
Hi folks,

I am running into this error on version 9.0.0 with terraform 0.13.1 using the `shared_vpc` module:

[code]

It looks like it was fixed in `master` but not in 9.0.0. Can we get a release that has this fix? It's currently blocking me as 8.1.0 is not compatible with terraform 0.13.1

[2020-09-25 20:37] #460 closed

[2020-09-25 20:37] morgante commented on #460
See #457

[2020-09-28 19:58] antoinecastex opened #461 "random error when enabling apis"
Hello

Just want to enable couple of apis with this sample code

resource "google_project_service" "service" {
  provider = google-beta
  for_each = toset(var.APIS)
  service            = each.key
  project            = var.PROJECT_ID
  disable_on_destroy = false
  depends_on = [
    google_project_service.service_default
  ]
}

But randomly got an error for some apis (not the same every time so i

[2020-09-28 20:07] morgante commented on #461
What version of Terraform, the module, and the provider are you using? `terraform version`

[2020-09-28 20:38] bharathkkb commented on #461
@antoinecastex Could you provide the full list of APIs you are trying to enable?
@morgante I think this is an upstream issue; ref: https://github.com/hashicorp/terraform-provider-google/issues/7103

[2020-09-29 01:57] bharathkkb opened #462 "Add required_providers"
We should add `required_providers` and lock providers to > 3.38 to prevent errors from `google_project_service_identity`.

ref: https://github.com/terraform-google-modules/terraform-google-bastion-host/pull/53, https://github.com/terraform-google-modules/terraform-google-log-export/issues/60

[2020-09-29 08:27] antoinecastex commented on #461
@morgante  i'm using  beta the last one because cloud build manage everything for me :  * hashicorp/google-beta: version = "~> 3.40.0"

[2020-09-29 08:28] antoinecastex commented on #461
@bharathkkb  here is my apis

bigquery.googleapis.com
--
storage-component.googleapis.com
cloudfunctions.googleapis.com
run.googleapis.com
datastore.googleapis.com
endpointsportal.googleapis.com
dataflow.googleapis.com
apigateway.googleapis.com
appengine.googleapis.com
sql-component.googleapis.com
redis.googleapis.com
storagetransfer.googleapis.com
iap.googleapis.com
dlp.googleapis.com
workflows.g

[2020-09-30 13:22] des-esseintes commented on #445
Faced the same issue.
What's the proper way of bringing back shared_vpcs?

[2020-10-01 02:18] morgante commented on #445
@des-esseintes You should use the `shared_vpc` submodule.

[2020-10-01 10:11] des-esseintes commented on #445
thanks @morgante!
hmmmm this assumes moving resources in terraform state... damn, i hate it :) was just thinking maybe there's an easier path. nevermind :)

[2020-10-01 16:19] morgante opened #463 "Rename shared_vpc"
We could have a clearer name for the shared vpc variable [as discussed here](https://github.com/terraform-google-modules/terraform-google-project-factory/pull/459#issuecomment-702139678).

[2020-10-01 16:44] morgante commented on #445
@des-esseintes If you switch from the root module to the shared VPC submodule there shouldn't be any major issues as the state location is mostly the same. If you do so then share your Terraform plan I'm happy to tell you if it's a breaking change.

[2020-10-02 17:09] thiagonache commented on #463
Also, we should rename shared_vpc_enabled to `enable_shared_vpc_service_project` everywhere

[2020-10-02 17:09] thiagonache commented on #463
Let me know if I can help with it somehow.

[2020-10-02 21:30] des-esseintes commented on #445
it worked well, thanks!

[2020-10-03 19:42] thiagonache commented on #407
@morgante I know it's silly, but what if we force serviceusage to be enabled until we get it handled by the provider?
[code]

Just a thought....

[2020-10-03 19:53] morgante commented on #407
@thiagonache It actually doesn't need to be enabled on the project being created, it needs to be on the credentials project.

[2020-10-03 20:12] thiagonache commented on #407
Doh!
Do you think they would accept the new resource to remove the default network? If yes, I can see if I can do it. I think I can.

[2020-10-06 16:10] mandarin801 opened #469 "Error: Missing map element: This map does not have an element with the key "decompress_wrapper"."
Got the error
`Error: Missing map element: This map does not have an element with the key "decompress_wrapper".`

There are 3 network modules and only unchanged are affected

In plan see the next:

[code]
module version = "~> 9.0"
Here the full log.
[full.log](https://github.com/terraform-google-modules/terraform-google-project-factory/files/5335191/full.log)

[2020-10-06 17:10] nikolaev-k commented on #469
I assumed that null_resource is not important so running `terraform state rm module.project.module.project-factory.module.gcloud_disable.null_resource.decompress_destroy[0]` solved the issue.

[2020-10-06 17:42] morgante commented on #469
Yeah generally just removing the null resource is the easiest way to fix this.

[2020-10-07 10:25] mandarin801 commented on #469
It does work! @nikolaev-k could you so kind to point me to the place in the documentation or in code where I can figure out the cause of the error?

[2020-10-08 09:50] adrian-gierakowski opened #471 "examples/gke_shared_vpc is not valid any more"
the code in `examples/gke_shared_vpc` does not work any more due assignment of `roles/container.hostServiceAgentUser` having been moved from `core_project_factory` to `shared_vpc_access` (#434 (f16fd05302179cd2a20485781f3f640a8d5d88ba))

the example should probably use `shared_vp` modules instead of top level one, or add `shared_vpc_access` (the latter approach will only be possible once #470 is m

[2020-10-08 17:47] raddaoui opened #472 "enable_apis variable is not valid anymore in v9.1.0"
enable_apis variable was removed in favor for activate_api_identities variable in v9.1.0 of modules/project_services so might as well remove it from list of variables, README and examples.

[2020-10-08 18:06] morgante commented on #472
As explained in the README, `activate_api_identities` is an *addition* to the enable_apis. You can still use enable_apis.

[2020-10-08 18:28] raddaoui commented on #472
I am referring to this
https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/modules/project_services/variables.tf#L21
the `enable_apis` is only present in variables and not used anywhere else in the code.

[2020-10-08 19:35] morgante commented on #472
@raddaoui The variable is used here: https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/modules/project_services/main.tf#L18

if you use the feature and it's not working only then should report a bug.

[2020-10-08 19:52] raddaoui commented on #472
ok well `activate_api_identities` is used in the line you mentioned, `enable_apis` is not used anywhere in the module except the variables.tf and the README. I will leave at this since it's not a bug

[2020-10-08 19:56] morgante commented on #472
Ah, I see the issue now. Sorry for the confusion.

[2020-10-08 21:06] #472 closed

[2020-10-08 21:25] thiagonache commented on #407
Hi @morgante! We got a small change merged that handles the serviceusage API. I know it's not your preferred way due to other possible errors, but I think if we tackle the most recurrent ones is enough to get rid of the preconditions script.

What do you think?

[2020-10-08 21:41] thiagonache commented on #408
@morgante can you mark task number one as done and update the second task with currently [issue](https://github.com/hashicorp/terraform-provider-google/issues/4135) on the provider repo, please? I'll try to get this done.

[2020-10-08 21:50] morgante commented on #407
Yeah I think this is enough to drop it. If you could file a PR moving to to `helpers/` and removing it from module code that would be great. We should also document how to run it standalone (ie. before running Terraform).

[2020-10-08 21:56] thiagonache commented on #407
sure. will do.

[2020-10-09 06:50] davidholsgrove commented on #471
+1 The [9.0 upgrade instructions](https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/docs/upgrading_to_project_factory_v9.0.md) aren't clear how to migrate from the top level module use for a project with GKE.

Should a new module instantiation of `terraform-google-modules/project-factory/google//modules/shared_vpc_access` be included alongside the original `t

[2020-10-09 08:10] #469 closed

[2020-10-09 08:58] morgante commented on #471
All you need to do is change which module you invoke.

[code]

[2020-10-11 14:20] antoinecastex commented on #461
@bharathkkb  any help on that please ?

[2020-10-11 22:38] davidholsgrove commented on #471
Thanks @morgante. There are a couple of vars available in the top level module which arent punched through to the `modules/shared_vpc` to pass to the `core_project_factory` which prevent this being a drop in replacement.

I've opened https://github.com/terraform-google-modules/terraform-google-project-factory/pull/476 and https://github.com/terraform-google-modules/terraform-google-project-factory

[2020-10-12 05:18] bharathkkb commented on #461
@antoinecastex Apologies for the late reply but this does seem like a provider issue. I would suggest bumping to `3.42.0` and failing that opening an issue like this https://github.com/hashicorp/terraform-provider-google/issues/7103

[2020-10-12 05:18] #461 closed

[2020-10-12 09:14] antoinecastex commented on #461
hashicorp/google-beta: version = "~> 3.42.0". problem is still here @bharathkkb

[2020-10-15 22:56] jwp23 opened #479 "Performance suffers when creating multiple projects"
It takes about 30 minutes to provision or destroy 8 projects. It looks like a lot of the action is happening with the `*.gcloud_delete.null_resource.upgrade_destroy` resources on destroy and a lot of installing gcloud for each project I create.